<ion-tabs>
    <ion-tab-bar slot="bottom" class="animate__animated animate__fadeInUp">
        <ion-tab-button tab="handyzoneHome">
            <div class="img_box">
                <img src="assets/images/Handyzone/ic_home.png" class="before">
                <img src="assets/images/Handyzone/ic_homeact.png" class="after">
            </div>
            <ion-label>{{'home' | translate}}</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="handyzoneMyBookings">
            <div class="img_box">
                <img src="assets/images/Handyzone/ic_appointments.png" class="before">
                <img src="assets/images/Handyzone/ic_appointmentsact.png" class="after">
            </div>
            <ion-label>{{'bookings' | translate}}</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="handyzoneChatList">
            <div class="img_box">
                <img src="assets/images/Handyzone/ic_chats.png" class="before">
                <img src="assets/images/Handyzone/ic_chatsact.png" class="after">
            </div>
            <ion-label>{{'chats' | translate}}</ion-label>
        </ion-tab-button>
    </ion-tab-bar>

</ion-tabs>