div,
.ios,
.md {
    --primary: #69C4FF;
    --secondary: #93C152;
    --bg-color: #EBF3F9;
    --bg-secondary: #F0F7FD;
    --bg-light: #F8F9FD;
    --text-light: #A3BCCF;
    --text-light2: #B3B3B3;
    --text-dark: #4D4D4D;
    --text-black: #000;
    --red-color: #FF0927;
    --yelow_color: #FFAE22;
    --white: #fff;
    --transparent: rgba(0, 0, 0, 0);
}

.bg_color {
    --background: var(--bg-color);
}

.d-flex {
    display: flex !important;
    align-items: center;
    width: 100%;
    .end {
        margin-left: auto !important;
        margin-right: 0 !important;
        display: block;
    }
}

.center_img {
    position: relative;
    overflow: hidden;
    img {
        &.crop_img {
            position: absolute;
            min-width: 100%;
            min-height: 100%;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
        }
    }
}

ion-header {
    z-index: 999;
    background: var(--bg-color);
    &::after {
        display: none !important;
    }
    ion-toolbar {
        --background: var(--bg-color);
        display: flex;
        align-items: center;
        min-height: 70px !important;
        height: auto;
        overflow: visible !important;
        --border-width: 0 !important;
        ion-buttons {
            position: relative !important;
            margin: 0;
            --padding-end: 0 !important;
            --padding-start: 0 !important;
            ion-back-button {
                background: url("../../assets/images/Handyzone/back.png");
                --color: var(--text-black) !important;
                --icon-font-size: 1.6rem !important;
                background-repeat: no-repeat;
                background-size: 18px;
                background-position: center;
                position: relative;
                right: -8px;
            }
            ion-menu-button {
                --color: var(--text-black) !important;
                --padding-end: 0 !important;
                font-size: 1.8rem !important;
                margin-right: 12px;
                &.ios {
                    font-size: 2rem !important;
                }
            }
            ion-back-button {
                .button-native {
                    padding: 0 !important;
                }
            }
            &.ios {
                padding: 0 10px !important;
            }
        }
        ion-title {
            color: var(--text-black);
            padding: 0 15px !important;
            padding-left: 0 !important;
            text-align: justify !important;
            font-size: 1.4rem;
            font-weight: 500;
            letter-spacing: 0;
            text-transform: none;
            display: block;
            position: relative !important;
            left: 0;
            overflow: visible !important;
            line-height: 70px;
            color: var(--text-dark);
        }
    }
    &.bg_transparent {
        background-color: var(--transparent) !important;
        ion-toolbar {
            --background: transparent;
            --ion-color-base: transparent !important;
        }
    }
    &.ios {
        ion-toolbar ion-buttons ion-back-button {
            right: unset;
        }
    }
}

.header_banner {
    align-items: flex-start;
    padding: 0 20px;
    .banner_img {
        min-width: fit-content;
        img {
            max-width: 140px;
            min-width: 140px;
            display: block;
        }
    }
    .text_box {
        padding-top: 4px;
        position: relative;
        h2 {
            margin: 0;
            color: var(--text-dark);
            font-size: 1.5rem;
            font-weight: 500;
            letter-spacing: 0;
            padding-bottom: 8px;
        }
        h3 {
            margin: 0;
            color: var(--text-light);
            font-size: .93rem;
            letter-spacing: 0.4px;
            padding: 0;
        }
    }
}

.animate__animated {
    --animate-duration: .0s;
    &:nth-child(1) {
        --animate-duration: .15s;
    }
    &:nth-child(2) {
        --animate-duration: .2s;
    }
    &:nth-child(3) {
        --animate-duration: .25s;
    }
    &:nth-child(4) {
        --animate-duration: .3s;
    }
    &:nth-child(5) {
        --animate-duration: .35s;
    }
    &:nth-child(6) {
        --animate-duration: .4s;
    }
    &:nth-child(7) {
        --animate-duration: .45s;
    }
    &:nth-child(8) {
        --animate-duration: .5s;
    }
    &:nth-child(9) {
        --animate-duration: .55s;
    }
    &:nth-child(10) {
        --animate-duration: .6s;
    }
    &:nth-child(11) {
        --animate-duration: .65s;
    }
    &:nth-child(12) {
        --animate-duration: .7s;
    }
    &:nth-child(13) {
        --animate-duration: .5s;
    }
    &:nth-child(14) {
        --animate-duration: .5s;
    }
    &:nth-child(15) {
        --animate-duration: .5s;
    }
}

ion-header {
    background: var(--white) !important;
    ion-toolbar ion-title {
        padding: 0 15px !important;
    }
    ion-segment {
        border: none !important;
        background: none !important;
        padding: 0 15px;
        min-width: fit-content;
        width: fit-content;
        ion-segment-button {
            background: none !important;
            position: relative;
            font-size: .95rem;
            font-weight: 500;
            letter-spacing: 0;
            color: var(--text-dark) !important;
            text-transform: unset !important;
            --color-checked: var(--primary) !important;
            text-align: justify !important;
            --background-checked: var(--transparent) !important;
            --border-width: 0 !important;
            --border-radius: 0 !important;
            box-shadow: none !important;
            --padding-start: 0px;
            --padding-end: 30px;
            padding-bottom: 10px;
            margin: 0;
            //            &:first-child {
            //                --padding-start: 0px;
            //            }
            &::after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 0%;
                height: 3px;
                background: var(--primary);
                transition: all .3s;
            }
            ion-label {
                width: 100%;
            }
            &.segment-button-checked {
                ion-label {
                    color: var(--primary) !important;
                }
                &::after {
                    width: 70px;
                }
            }
        }
    }
}

ion-content {
    --background: var(--bg-light);
}

ion-list {
    margin: 0;
    padding: 0;
    overflow-y: auto;
    padding: 15px 13px 0px 13px;
    background: var(--transparent) !important;
    ion-item {
        padding: 0;
        --inner-padding-end: 0px;
        --inner-min-height: unset !important;
        --padding-start: 0;
        --background: var(--transparent) !important;
        --min-height: unset;
        margin: 0 auto;
        position: relative;
        border-radius: 10px;
        padding-left: 15px;
        margin-bottom: 10px;
        &::before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: calc(100% - 8px);
            background: var(--white);
            border-radius: 8px;
        }
        .item_inner {
            width: 100%;
            align-items: flex-end;
            .text_box {
                position: relative;
                width: 100%;
                max-width: calc(100% - 80px);
                .nameCategory {
                    padding-bottom: 15px;
                    h2 {
                        margin: 0;
                        color: var(--text-dark);
                        font-size: 1rem;
                        letter-spacing: 0.5px;
                        overflow: hidden;
                        display: -webkit-box;
                        -webkit-line-clamp: 1;
                        -webkit-box-orient: vertical;
                        margin-bottom: 5px;
                    }
                    h3 {
                        margin: 0;
                        color: var(--text-light2);
                        font-size: 0.8rem;
                        font-weight: 400;
                        span {
                            &.short_message {
                                text-overflow: ellipsis;
                                overflow: hidden;
                                white-space: nowrap;
                                max-width: calc(100% - 60px);
                            }
                            &.end {
                                min-width: fit-content;
                            }
                        }
                    }
                }
            }
            .img_box {
                min-width: fit-content;
                padding: 0 5px;
                --animate-duration: .4s !important;
                img {
                    height: 100%;
                    max-height: 74px;
                    max-width: 80px;
                    display: block;
                }
            }
        }
    }
}

.buy_this_app {
    background: var(--primary);
    border-radius: 50px 0px 0 50px;
    height: 45px;
    display: flex;
    align-items: center;
    min-width: 143px;
    width: fit-content;
    padding: 0 13px;
    position: fixed;
    z-index: 9999;
    top: 13px;
    right: 0px;
    h2 {
        color: var(--white) !important;
        font-size: 1rem !important;
        font-weight: 500 !important;
        margin: 0 auto !important;
        display: flex;
        align-items: center;
        letter-spacing: 0 !important;
        ion-icon {
            font-size: 1rem;
            min-width: 23px;
        }
    }
}

.developed_by {
    padding: 10px 20px 10px 20px;
    background: var(--bg-color);
    h2 {
        margin: 0;
        color: var(--text-black);
        font-size: 1.1rem;
        font-weight: 500;
        min-width: 41%;
        letter-spacing: 0;
    }
    img {
        max-width: 155px;
        &.dark-theme-logo {
            display: none;
        }
    }
}

ion-slides {
    ion-slide {
        display: block;
        min-height: calc(100vh - 165px);
        max-height: calc(100vh - 165px);
        overflow: hidden;
        overflow-y: auto;
        text-align: initial;
        position: relative;
        padding-bottom: 58px;
    }
}