<ion-header>
    <ion-toolbar>
        <ion-title>
            <div class="title_inner d-flex">
                <div class="location">
                    <h2 class="d-flex">
                        <ion-icon class="zmdi zmdi-pin ion-text-start"></ion-icon>
                        <span>Wallington</span>
                    </h2>
                </div>
            </div>
        </ion-title>
    </ion-toolbar>

    <div class="banner">
        <div class="banner_text">
            <h3 class="animate__animated animate__fadeInUp">{{'hello' | translate}}, Sam Smith,</h3>
            <h2 class="animate__animated animate__fadeInUp">{{'find_doctors' | translate}}</h2>
        </div>
        <div class="search_box d-flex animate__animated animate__fadeInUp">
            <ion-icon name="search-outline" class="ion-text-start"></ion-icon>
            <h2>{{'search_medicines' | translate}}</h2>
        </div>
    </div>
</ion-header>

<ion-content fullscreen>
    <div class="shop_by_category animate__animated animate__fadeInUp">
        <h2 class="d-flex animate__animated animate__fadeInUp">{{'find_by_specialities' | translate}}<span class="end">{{'view_all' | translate}}</span></h2>
        <div class="scroll-x animate__animated animate__fadeInUp">
            <div class="category animate__animated animate__zoomIn" (click)="list_of_doctors()">
                <div class="category_img center_img">
                    <img src="assets/images/Doctoworld/Doctors.png" class="crop_img">
                </div>
            </div>
            <div class="category animate__animated animate__zoomIn" (click)="list_of_doctors()">
                <div class="category_img center_img">
                    <img src="assets/images/Doctoworld/Dentists.png" class="crop_img">
                </div>
            </div>
            <div class="category animate__animated animate__zoomIn" (click)="list_of_doctors()">
                <div class="category_img center_img">
                    <img src="assets/images/Doctoworld/Ayurvadic.png" class="crop_img">
                </div>
            </div>
            <div class="category animate__animated animate__zoomIn" (click)="list_of_doctors()">
                <div class="category_img center_img">
                    <img src="assets/images/Doctoworld/Therapist.png" class="crop_img">
                </div>
            </div>
            <div class="category animate__animated animate__zoomIn" (click)="list_of_doctors()">
                <div class="category_img center_img">
                    <img src="assets/images/Doctoworld/Doctors.png" class="crop_img">
                </div>
            </div>
            <div class="category animate__animated animate__zoomIn" (click)="list_of_doctors()">
                <div class="category_img center_img">
                    <img src="assets/images/Doctoworld/Dentists.png" class="crop_img">
                </div>
            </div>
            <div class="category animate__animated animate__zoomIn" (click)="list_of_doctors()">
                <div class="category_img center_img">
                    <img src="assets/images/Doctoworld/Ayurvadic.png" class="crop_img">
                </div>
            </div>
            <div class="category animate__animated animate__zoomIn" (click)="list_of_doctors()">
                <div class="category_img center_img">
                    <img src="assets/images/Doctoworld/Therapist.png" class="crop_img">
                </div>
            </div>
            <div class="category animate__animated animate__zoomIn" (click)="list_of_doctors()">
                <div class="category_img center_img">
                    <img src="assets/images/Doctoworld/Doctors.png" class="crop_img">
                </div>
            </div>
            <div class="category animate__animated animate__zoomIn" (click)="list_of_doctors()">
                <div class="category_img center_img">
                    <img src="assets/images/Doctoworld/Dentists.png" class="crop_img">
                </div>
            </div>
            <div class="category animate__animated animate__zoomIn" (click)="list_of_doctors()">
                <div class="category_img center_img">
                    <img src="assets/images/Doctoworld/Ayurvadic.png" class="crop_img">
                </div>
            </div>
            <div class="category animate__animated animate__zoomIn" (click)="list_of_doctors()">
                <div class="category_img center_img">
                    <img src="assets/images/Doctoworld/Therapist.png" class="crop_img">
                </div>
            </div>
            <div class="category animate__animated animate__zoomIn" (click)="list_of_doctors()">
                <div class="category_img center_img">
                    <img src="assets/images/Doctoworld/Doctors.png" class="crop_img">
                </div>
            </div>
            <div class="category animate__animated animate__zoomIn" (click)="list_of_doctors()">
                <div class="category_img center_img">
                    <img src="assets/images/Doctoworld/Dentists.png" class="crop_img">
                </div>
            </div>
            <div class="category animate__animated animate__zoomIn" (click)="list_of_doctors()">
                <div class="category_img center_img">
                    <img src="assets/images/Doctoworld/Ayurvadic.png" class="crop_img">
                </div>
            </div>
            <div class="category animate__animated animate__zoomIn" (click)="list_of_doctors()">
                <div class="category_img center_img">
                    <img src="assets/images/Doctoworld/Therapist.png" class="crop_img">
                </div>
            </div>
        </div>
    </div>


    <div class="offres animate__animated animate__fadeInUp">
        <h2 class="d-flex animate__animated animate__fadeInUp">{{'sponsors_ad' | translate}}</h2>
        <div class="scroll-x animate__animated animate__fadeInUp">
            <div class="offer center_img animate__animated animate__fadeInUp">
                <img src="assets/images/Doctoworld/offer2.png" class="crop_img">
            </div>
            <div class="offer center_img animate__animated animate__fadeInUp">
                <img src="assets/images/Doctoworld/offer3.png" class="crop_img">
            </div>
            <div class="offer center_img animate__animated animate__fadeInUp">
                <img src="assets/images/Doctoworld/offer1.png" class="crop_img">
            </div>
            <div class="offer center_img animate__animated animate__fadeInUp">
                <img src="assets/images/Doctoworld/offer2.png" class="crop_img">
            </div>
            <div class="offer center_img animate__animated animate__fadeInUp">
                <img src="assets/images/Doctoworld/offer3.png" class="crop_img">
            </div>
            <div class="offer center_img animate__animated animate__fadeInUp">
                <img src="assets/images/Doctoworld/offer1.png" class="crop_img">
            </div>
            <div class="offer center_img animate__animated animate__fadeInUp">
                <img src="assets/images/Doctoworld/offer2.png" class="crop_img">
            </div>
            <div class="offer center_img animate__animated animate__fadeInUp">
                <img src="assets/images/Doctoworld/offer3.png" class="crop_img">
            </div>
            <div class="offer center_img animate__animated animate__fadeInUp">
                <img src="assets/images/Doctoworld/offer1.png" class="crop_img">
            </div>
            <div class="offer center_img animate__animated animate__fadeInUp">
                <img src="assets/images/Doctoworld/offer2.png" class="crop_img">
            </div>
            <div class="offer center_img animate__animated animate__fadeInUp">
                <img src="assets/images/Doctoworld/offer3.png" class="crop_img">
            </div>
            <div class="offer center_img animate__animated animate__fadeInUp">
                <img src="assets/images/Doctoworld/offer1.png" class="crop_img">
            </div>
            <div class="offer center_img animate__animated animate__fadeInUp">
                <img src="assets/images/Doctoworld/offer2.png" class="crop_img">
            </div>
            <div class="offer center_img animate__animated animate__fadeInUp">
                <img src="assets/images/Doctoworld/offer3.png" class="crop_img">
            </div>
            <div class="offer center_img animate__animated animate__fadeInUp">
                <img src="assets/images/Doctoworld/offer1.png" class="crop_img">
            </div>
            <div class="offer center_img animate__animated animate__fadeInUp">
                <img src="assets/images/Doctoworld/offer2.png" class="crop_img">
            </div>
            <div class="offer center_img animate__animated animate__fadeInUp">
                <img src="assets/images/Doctoworld/offer3.png" class="crop_img">
            </div>
            <div class="offer center_img animate__animated animate__fadeInUp">
                <img src="assets/images/Doctoworld/offer1.png" class="crop_img">
            </div>
            <div class="offer center_img animate__animated animate__fadeInUp">
                <img src="assets/images/Doctoworld/offer2.png" class="crop_img">
            </div>
            <div class="offer center_img animate__animated animate__fadeInUp">
                <img src="assets/images/Doctoworld/offer3.png" class="crop_img">
            </div>
            <div class="offer center_img animate__animated animate__fadeInUp">
                <img src="assets/images/Doctoworld/offer1.png" class="crop_img">
            </div>
            <div class="offer center_img animate__animated animate__fadeInUp">
                <img src="assets/images/Doctoworld/offer2.png" class="crop_img">
            </div>
            <div class="offer center_img animate__animated animate__fadeInUp">
                <img src="assets/images/Doctoworld/offer3.png" class="crop_img">
            </div>
            <div class="offer center_img animate__animated animate__fadeInUp">
                <img src="assets/images/Doctoworld/offer1.png" class="crop_img">
            </div>
            <div class="offer center_img animate__animated animate__fadeInUp">
                <img src="assets/images/Doctoworld/offer2.png" class="crop_img">
            </div>
            <div class="offer center_img animate__animated animate__fadeInUp">
                <img src="assets/images/Doctoworld/offer3.png" class="crop_img">
            </div>
            <div class="offer center_img animate__animated animate__fadeInUp">
                <img src="assets/images/Doctoworld/offer1.png" class="crop_img">
            </div>
            <div class="offer center_img animate__animated animate__fadeInUp">
                <img src="assets/images/Doctoworld/offer2.png" class="crop_img">
            </div>
            <div class="offer center_img animate__animated animate__fadeInUp">
                <img src="assets/images/Doctoworld/offer3.png" class="crop_img">
            </div>
            <div class="offer center_img animate__animated animate__fadeInUp">
                <img src="assets/images/Doctoworld/offer1.png" class="crop_img">
            </div>
            <div class="offer center_img animate__animated animate__fadeInUp">
                <img src="assets/images/Doctoworld/offer2.png" class="crop_img">
            </div>
            <div class="offer center_img animate__animated animate__fadeInUp">
                <img src="assets/images/Doctoworld/offer3.png" class="crop_img">
            </div>
            <div class="offer center_img animate__animated animate__fadeInUp">
                <img src="assets/images/Doctoworld/offer1.png" class="crop_img">
            </div>
        </div>
    </div>


    <ion-list lines="none">
        <h2 class="animate__animated animate__fadeInUp">{{'list_of_specialities' | translate}}</h2>
        <ion-item class="animate__animated animate__fadeInUp" (click)="list_of_doctors()">
            <h3>Addiction psychiatrist</h3>
            <h4 slot="end">
                <ion-icon class="zmdi zmdi-chevron-right ion-text-end"></ion-icon>
            </h4>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp" (click)="list_of_doctors()">
            <h3>Adolescent medicine specialist</h3>
            <h4 slot="end">
                <ion-icon class="zmdi zmdi-chevron-right ion-text-end"></ion-icon>
            </h4>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp" (click)="list_of_doctors()">
            <h3>Addiction psychiatrist</h3>
            <h4 slot="end">
                <ion-icon class="zmdi zmdi-chevron-right ion-text-end"></ion-icon>
            </h4>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp" (click)="list_of_doctors()">
            <h3>Allergist (immunologist)</h3>
            <h4 slot="end">
                <ion-icon class="zmdi zmdi-chevron-right ion-text-end"></ion-icon>
            </h4>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp" (click)="list_of_doctors()">
            <h3>Addiction psychiatrist</h3>
            <h4 slot="end">
                <ion-icon class="zmdi zmdi-chevron-right ion-text-end"></ion-icon>
            </h4>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp" (click)="list_of_doctors()">
            <h3>Adolescent medicine specialist</h3>
            <h4 slot="end">
                <ion-icon class="zmdi zmdi-chevron-right ion-text-end"></ion-icon>
            </h4>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp" (click)="list_of_doctors()">
            <h3>Addiction psychiatrist</h3>
            <h4 slot="end">
                <ion-icon class="zmdi zmdi-chevron-right ion-text-end"></ion-icon>
            </h4>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp" (click)="list_of_doctors()">
            <h3>Allergist (immunologist)</h3>
            <h4 slot="end">
                <ion-icon class="zmdi zmdi-chevron-right ion-text-end"></ion-icon>
            </h4>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp" (click)="list_of_doctors()">
            <h3>Addiction psychiatrist</h3>
            <h4 slot="end">
                <ion-icon class="zmdi zmdi-chevron-right ion-text-end"></ion-icon>
            </h4>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp" (click)="list_of_doctors()">
            <h3>Adolescent medicine specialist</h3>
            <h4 slot="end">
                <ion-icon class="zmdi zmdi-chevron-right ion-text-end"></ion-icon>
            </h4>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp" (click)="list_of_doctors()">
            <h3>Addiction psychiatrist</h3>
            <h4 slot="end">
                <ion-icon class="zmdi zmdi-chevron-right ion-text-end"></ion-icon>
            </h4>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp" (click)="list_of_doctors()">
            <h3>Allergist (immunologist)</h3>
            <h4 slot="end">
                <ion-icon class="zmdi zmdi-chevron-right ion-text-end"></ion-icon>
            </h4>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp" (click)="list_of_doctors()">
            <h3>Addiction psychiatrist</h3>
            <h4 slot="end">
                <ion-icon class="zmdi zmdi-chevron-right ion-text-end"></ion-icon>
            </h4>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp" (click)="list_of_doctors()">
            <h3>Adolescent medicine specialist</h3>
            <h4 slot="end">
                <ion-icon class="zmdi zmdi-chevron-right ion-text-end"></ion-icon>
            </h4>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp" (click)="list_of_doctors()">
            <h3>Addiction psychiatrist</h3>
            <h4 slot="end">
                <ion-icon class="zmdi zmdi-chevron-right ion-text-end"></ion-icon>
            </h4>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp" (click)="list_of_doctors()">
            <h3>Allergist (immunologist)</h3>
            <h4 slot="end">
                <ion-icon class="zmdi zmdi-chevron-right ion-text-end"></ion-icon>
            </h4>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp" (click)="list_of_doctors()">
            <h3>Addiction psychiatrist</h3>
            <h4 slot="end">
                <ion-icon class="zmdi zmdi-chevron-right ion-text-end"></ion-icon>
            </h4>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp" (click)="list_of_doctors()">
            <h3>Adolescent medicine specialist</h3>
            <h4 slot="end">
                <ion-icon class="zmdi zmdi-chevron-right ion-text-end"></ion-icon>
            </h4>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp" (click)="list_of_doctors()">
            <h3>Addiction psychiatrist</h3>
            <h4 slot="end">
                <ion-icon class="zmdi zmdi-chevron-right ion-text-end"></ion-icon>
            </h4>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp" (click)="list_of_doctors()">
            <h3>Allergist (immunologist)</h3>
            <h4 slot="end">
                <ion-icon class="zmdi zmdi-chevron-right ion-text-end"></ion-icon>
            </h4>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp" (click)="list_of_doctors()">
            <h3>Addiction psychiatrist</h3>
            <h4 slot="end">
                <ion-icon class="zmdi zmdi-chevron-right ion-text-end"></ion-icon>
            </h4>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp" (click)="list_of_doctors()">
            <h3>Adolescent medicine specialist</h3>
            <h4 slot="end">
                <ion-icon class="zmdi zmdi-chevron-right ion-text-end"></ion-icon>
            </h4>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp" (click)="list_of_doctors()">
            <h3>Addiction psychiatrist</h3>
            <h4 slot="end">
                <ion-icon class="zmdi zmdi-chevron-right ion-text-end"></ion-icon>
            </h4>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp" (click)="list_of_doctors()">
            <h3>Allergist (immunologist)</h3>
            <h4 slot="end">
                <ion-icon class="zmdi zmdi-chevron-right ion-text-end"></ion-icon>
            </h4>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp" (click)="list_of_doctors()">
            <h3>Addiction psychiatrist</h3>
            <h4 slot="end">
                <ion-icon class="zmdi zmdi-chevron-right ion-text-end"></ion-icon>
            </h4>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp" (click)="list_of_doctors()">
            <h3>Adolescent medicine specialist</h3>
            <h4 slot="end">
                <ion-icon class="zmdi zmdi-chevron-right ion-text-end"></ion-icon>
            </h4>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp" (click)="list_of_doctors()">
            <h3>Addiction psychiatrist</h3>
            <h4 slot="end">
                <ion-icon class="zmdi zmdi-chevron-right ion-text-end"></ion-icon>
            </h4>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp" (click)="list_of_doctors()">
            <h3>Allergist (immunologist)</h3>
            <h4 slot="end">
                <ion-icon class="zmdi zmdi-chevron-right ion-text-end"></ion-icon>
            </h4>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp" (click)="list_of_doctors()">
            <h3>Addiction psychiatrist</h3>
            <h4 slot="end">
                <ion-icon class="zmdi zmdi-chevron-right ion-text-end"></ion-icon>
            </h4>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp" (click)="list_of_doctors()">
            <h3>Adolescent medicine specialist</h3>
            <h4 slot="end">
                <ion-icon class="zmdi zmdi-chevron-right ion-text-end"></ion-icon>
            </h4>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp" (click)="list_of_doctors()">
            <h3>Addiction psychiatrist</h3>
            <h4 slot="end">
                <ion-icon class="zmdi zmdi-chevron-right ion-text-end"></ion-icon>
            </h4>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp" (click)="list_of_doctors()">
            <h3>Allergist (immunologist)</h3>
            <h4 slot="end">
                <ion-icon class="zmdi zmdi-chevron-right ion-text-end"></ion-icon>
            </h4>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp" (click)="list_of_doctors()">
            <h3>Addiction psychiatrist</h3>
            <h4 slot="end">
                <ion-icon class="zmdi zmdi-chevron-right ion-text-end"></ion-icon>
            </h4>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp" (click)="list_of_doctors()">
            <h3>Adolescent medicine specialist</h3>
            <h4 slot="end">
                <ion-icon class="zmdi zmdi-chevron-right ion-text-end"></ion-icon>
            </h4>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp" (click)="list_of_doctors()">
            <h3>Addiction psychiatrist</h3>
            <h4 slot="end">
                <ion-icon class="zmdi zmdi-chevron-right ion-text-end"></ion-icon>
            </h4>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp" (click)="list_of_doctors()">
            <h3>Allergist (immunologist)</h3>
            <h4 slot="end">
                <ion-icon class="zmdi zmdi-chevron-right ion-text-end"></ion-icon>
            </h4>
        </ion-item>
    </ion-list>
</ion-content>