div,
.ios,
.md,
* {
    --primary: #0DE8D1;
    --bg-secondary: #151619;
    --bg-color: #1D1F24;
    --text-light: #6B717E;
    --white: #fff;
    --transparent: rgba(0, 0, 0, 0);
}

.bg_color {
    --background: var(--bg-color);
}

.d-flex {
    display: flex !important;
    align-items: center;
    width: 100%;
    .end {
        margin-left: auto !important;
        margin-right: 0 !important;
        display: block;
    }
}

.center_img {
    position: relative;
    overflow: hidden;
    img {
        &.crop_img {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            bottom: 0;
            left: -50% !important;
            right: -50% !important;
            margin: auto;
        }
    }
}

.button {
    &.btn {
        width: 100%;
        font-size: 1.1rem;
        font-weight: 400;
        letter-spacing: 0 !important;
        height: 50px;
        --background: var(--primary);
        color: var(--white);
        margin: 0;
        --box-shadow: none;
        text-transform: none;
        ion-icon {
            font-size: 1.4rem;
        }
        &:hover:not(.disable-hover) {
            --background: var(--primary);
        }
        &.button-outline {
            --background: var(--bg-color) !important;
            color: var(--primary);
            --border-color: var(--transparent);
            --border-width: 0px;
            &:hover:not(.disable-hover) {
                --background: var(--bg-secondary);
            }
        }
        &.button-round {
            --border-radius: 50px !important;
        }
        &.button-block {
            --border-radius: 7px !important;
        }
    }
}

ion-header {
    z-index: 999;
    &::after {
        display: none !important;
    }
    ion-toolbar {
        --background: var(--bg-color);
        display: flex;
        align-items: center;
        min-height: 60px !important;
        height: auto;
        overflow: visible !important;
        --border-width: 0 !important;
        ion-buttons {
            position: relative !important;
            margin: 0;
            --padding-end: 0 !important;
            --padding-start: 0 !important;
            ion-back-button {
                --color: var(--white) !important;
                --icon-font-size: 1.4rem !important;
                --padding-start: 0 !important;
            }
            ion-menu-button {
                --color: var(--text-black) !important;
                --padding-end: 0 !important;
                font-size: 1.8rem !important;
                &.ios {
                    font-size: 2rem !important;
                }
            }
            ion-back-button {
                .button-native {
                    padding: 0 !important;
                }
            }
            &.ios {
                padding: 0 10px !important;
            }
        }
        ion-title {
            color: var(--white);
            padding: 0 15px !important;
            text-align: center;
            font-size: 1.2rem;
            font-weight: 500;
            letter-spacing: .5px;
            text-transform: none;
            display: block;
            position: absolute !important;
            left: 0;
            top: -3px;
            width: 100%;
            overflow: visible !important;
            line-height: 60px;
        }
    }
    &.bg_transparent {
        ion-toolbar {
            --background: transparent;
            --ion-color-base: transparent !important;
        }
    }
}

.animate__animated {
    --animate-duration: 0s;
    &:nth-child(1) {
        --animate-duration: .15s;
    }
    &:nth-child(2) {
        --animate-duration: .2s;
    }
    &:nth-child(3) {
        --animate-duration: .25s;
    }
    &:nth-child(4) {
        --animate-duration: .3s;
    }
    &:nth-child(5) {
        --animate-duration: .35s;
    }
    &:nth-child(6) {
        --animate-duration: .4s;
    }
    &:nth-child(7) {
        --animate-duration: .45s;
    }
    &:nth-child(8) {
        --animate-duration: .5s;
    }
    &:nth-child(9) {
        --animate-duration: .55s;
    }
    &:nth-child(10) {
        --animate-duration: .6s;
    }
    &:nth-child(11) {
        --animate-duration: .65s;
    }
    &:nth-child(12) {
        --animate-duration: .7s;
    }
    &:nth-child(13) {
        --animate-duration: .5s;
    }
    &:nth-child(14) {
        --animate-duration: .5s;
    }
    &:nth-child(15) {
        --animate-duration: .5s;
    }
}

.form {
    display: block;
    overflow: hidden;
    position: relative;
    width: calc(100% - 0px);
    z-index: 99;
    padding: 0 15px;
    ion-list {
        background: var(--transparent) !important;
        margin: 0;
        padding: 0;
    }
    ion-item {
        padding: 0px 0px;
        width: calc(100% - 0px);
        min-height: unset !important;
        box-shadow: none !important;
        margin: 0 auto;
        --background: var(--transparent);
        align-items: flex-start;
        --inner-padding-end: 0px;
        --inner-min-height: unset !important;
        --min-height: unset !important;
        --padding-start: 0;
        box-shadow: none !important;
        margin-bottom: 10px;
        border-bottom: 1px solid #121316 !important;
        padding-bottom: 10px !important;
        --ripple-color: var(--transparent) !important;
        --background-focused: var(--transparent) !important;
        position: relative;
        &::after {
            content: '';
            position: absolute;
            bottom: 1px;
            left: 0;
            width: 0;
            height: 1px;
            background: var(--primary);
            transition: all .3s;
        }
        ion-icon {
            color: var(--primary);
            margin: 0;
            font-size: 1rem;
            min-width: 30px;
            height: 37px;
            line-height: 55px;
        }
        ion-label {
            color: var(--text-light) !important;
            font-size: 1rem !important;
            letter-spacing: 0px !important;
            font-weight: 500;
            margin-bottom: 17px !important;
        }
        ion-textarea,
        ion-input {
            --padding: 0 !important;
            font-size: 1rem !important;
            font-weight: 500 !important;
            letter-spacing: 0;
            --padding-start: 0 !important;
            --padding-end: 0 !important;
            --padding-top: 0 !important;
            --padding-bottom: 0px !important;
            color: var(--white);
            --placeholder-color: var(--text-light) !important;
            --placeholder-opacity: 1;
            --placeholder-font-weight: 400 !important;
            position: relative;
            flex: unset !important;
            input {
                --padding: var(--no-padding);
                &.native-input {
                    --padding: var(--no-padding);
                }
            }
            &.password {
                letter-spacing: 3px;
            }
        }
        &.item-select {
            ion-select {
                padding: 0;
                font-size: 1.15rem !important;
                font-weight: 400 !important;
                letter-spacing: 1px;
                color: var(--text-black);
                --placeholder-color: var(--text-light);
                --placeholder-opacity: 1;
            }
        }
        h5 {
            margin: 0;
            color: var(--primary);
            font-size: .85rem;
            height: 45px;
            line-height: 55px;
            letter-spacing: .4px;
        }
        &.item-datetime {
            ion-datetime {
                padding: 0;
                font-size: 1rem !important;
                font-weight: 500 !important;
                color: var(--white);
            }
        }
        &.item-select {
            ion-select {
                padding: 0;
                font-size: 1rem !important;
                font-weight: 500 !important;
                color: var(--white);
            }
        }
        &.item-has-focus {
            &::after {
                width: 100%;
            }
        }
        &.item-has-value,
        &.item-has-focus {
            &::after {
                width: 100%;
            }
            ion-label {
                &.label-floating {
                    transform: translateY(50%) scale(1);
                }
            }
        }
    }
    ion-row {
        margin: 0 -5px;
    }
}

ion-header ion-toolbar ion-title {
    font-weight: 400;
    font-size: 1rem !important;
}

.form {
    ion-item {
        border-bottom: none !important;
        &::after {
            display: none !important;
        }
        &.item-textarea {
            .input_field {
                width: 100%;
            }
            .item_inner {
                align-items: flex-start !important;
                .img_box {
                    min-width: 35px;
                    height: 35px;
                    border-radius: 50%;
                    margin-right: 15px;
                }
            }
            ion-textarea {
                margin: 0;
                letter-spacing: .5px !important;
                font-weight: 400 !important;
                font-size: .95rem !important;
            }
        }
    }
    &.select_cover {
        padding: 0 !important;
        padding-bottom: 20px !important;
        h2 {
            color: var(--white);
            width: calc(100% - 30px);
            margin: 0 auto;
            font-weight: 400;
            margin-bottom: 20px;
            font-size: 1rem;
        }
        ion-list {
            .scroll_container {
                white-space: nowrap;
                overflow: hidden;
                overflow-x: auto;
                -ms-overflow-style: none;
                scrollbar-width: none;
                &::-webkit-scrollbar {
                    display: none;
                }
                .item_scroll {
                    display: inline-block;
                    margin: 0 4px;
                    ion-item {
                        margin: 0;
                        width: 85px;
                        height: 120px;
                        --min-height: 120px !important;
                        padding-bottom: 14px;
                        border-radius: 3px;
                        position: relative;
                        ion-radio {
                            --color: var(--transparent) !important;
                            --color-checked: var(--transparent) !important;
                            z-index: 9999;
                        }
                        ion-label {
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            margin: 0 !important;
                            z-index: 99;
                            &::before {
                                content: '';
                                position: absolute;
                                top: 0;
                                left: 0;
                                right: 0;
                                bottom: 0;
                                margin: auto;
                                width: 0;
                                height: 0;
                                background: #000;
                                opacity: .4;
                                z-index: 2;
                                transition: all .3s;
                            }
                            .img_box {
                                position: absolute;
                                top: 0;
                                left: 0;
                                width: 100%;
                                height: 100%;
                                img {
                                    max-width: none;
                                }
                            }
                            ion-icon {
                                position: absolute;
                                top: 0;
                                left: 0;
                                bottom: 0;
                                right: 0;
                                margin: auto;
                                width: 0;
                                height: 0;
                                color: var(--primary);
                                overflow: hidden;
                                z-index: 99;
                                border-radius: 50%;
                                font-size: 1.5rem;
                                line-height: 23px;
                                text-align: center;
                            }
                        }
                        &.item-radio-checked {
                            ion-label {
                                &::before {
                                    width: 100%;
                                    height: 100%;
                                    transition: all .3s;
                                }
                                ion-icon {
                                    width: 21px;
                                    transition: all .3s;
                                    opacity: 1;
                                    height: 23px;
                                }
                            }
                        }
                    }
                    &:first-child {
                        margin-left: 15px;
                    }
                    &:last-child {
                        margin-right: 15px;
                    }
                }
            }
        }
    }
    &.post_settings {
        ion-list {
            ion-item {
                padding: 0 !important;
                --min-height: 40px !important;
                margin: 0 !important;
                .item_inner {
                    h3 {
                        color: var(--white);
                        margin: 0;
                        font-weight: 400;
                        font-size: 1rem;
                    }
                }
                ion-toggle {
                    --background: var(--bg-secondary);
                    --background-checked: var(--bg-secondary);
                    --handle-background: var(--text-light);
                    --handle-background-checked: var(--primary);
                }
                &.item-select {
                    ion-select {
                        display: flex;
                        align-items: center;
                        width: fit-content;
                        color: var(--text-light);
                        letter-spacing: 0;
                        font-weight: 400 !important;
                        opacity: .7;
                        font-size: .95rem !important;
                    }
                }
            }
        }
    }
}

ion-footer {
    padding: 0 15px 30px 15px;
    --animate-duration: .3s;
}