<ion-header>
    <ion-toolbar>

        <ion-buttons slot="start" mode="md">
            <ion-back-button text="" icon=""></ion-back-button>
        </ion-buttons>

        <ion-title></ion-title>
    </ion-toolbar>

    <div class="header_banner d-flex animate__animated animate__fadeInUp">
        <div class="text_box">
            <h2 class="d-flex">$159.50</h2>
            <h3>{{'available_balance' | translate}}</h3>
        </div>
        <div class="banner_img end">
            <img src="assets/images/Handyzone/vct_verification.png">
        </div>
    </div>
</ion-header>

<ion-content class="bg_color" fullscreen>
    <ion-list lines="none" class="animate__animated animate__fadeInUp">

        <ion-row>
            <ion-col size="6">
                <h2 class="d-flex">
                    <ion-icon class="zmdi zmdi-long-arrow-down"></ion-icon>&nbsp;&nbsp; {{'add_money' | translate}}
                </h2>
            </ion-col>

            <ion-col size="6">
                <h2 class="d-flex">
                    <ion-icon class="zmdi zmdi-long-arrow-up"></ion-icon>&nbsp;&nbsp; {{'send_to_bank' | translate}}
                </h2>
            </ion-col>
        </ion-row>

        <div class="transaction_list animate__animated animate__fadeInUp">
            <ion-item class="animate__animated animate__fadeInUp">
                <div class="item_inner">
                    <h2 class="d-flex">Carpet Cleaning <span class="end">$24.00</span></h2>
                    <h3 class="d-flex">Emili Anderson <span class="end">21 Jun, 11:02 am</span></h3>
                </div>
            </ion-item>

            <ion-item class="added_to_wallet animate__animated animate__fadeInUp">
                <div class="item_inner">
                    <h2 class="d-flex">Added to Wallet <span class="end">$200.00</span></h2>
                    <h3 class="d-flex">Bank of USA <span class="end">20 Jun, 11:00 am</span></h3>
                </div>
            </ion-item>

            <ion-item class="animate__animated animate__fadeInUp">
                <div class="item_inner">
                    <h2 class="d-flex">Laptop Repair <span class="end">$10.00</span></h2>
                    <h3 class="d-flex">Emili Anderson <span class="end">13 Jun, 02:23 pm</span></h3>
                </div>
            </ion-item>

            <ion-item class="animate__animated animate__fadeInUp">
                <div class="item_inner">
                    <h2 class="d-flex">Home Sanitize <span class="end">$35.00</span></h2>
                    <h3 class="d-flex">Emili Anderson <span class="end">6 Jun, 07:09 pm</span></h3>
                </div>
            </ion-item>

            <ion-item class="animate__animated animate__fadeInUp">
                <div class="item_inner">
                    <h2 class="d-flex">Sent to Bank <span class="end">$50.00</span></h2>
                    <h3 class="d-flex">Bank of USA <span class="end">1 Jun, 07:09 pm</span></h3>
                </div>
            </ion-item>

            <ion-item class="animate__animated animate__fadeInUp">
                <div class="item_inner">
                    <h2 class="d-flex">Body Massage <span class="end">$18.00</span></h2>
                    <h3 class="d-flex">Bank of USA <span class="end">26 May, 09:58 am</span></h3>
                </div>
            </ion-item>

            <ion-item class="added_to_wallet animate__animated animate__fadeInUp">
                <div class="item_inner">
                    <h2 class="d-flex">Added to Wallet <span class="end">$200.00</span></h2>
                    <h3 class="d-flex">Bank of USA <span class="end">20 Jun, 11:00 am</span></h3>
                </div>
            </ion-item>
            <ion-item class="animate__animated animate__fadeInUp">
                <div class="item_inner">
                    <h2 class="d-flex">Carpet Cleaning <span class="end">$24.00</span></h2>
                    <h3 class="d-flex">Emili Anderson <span class="end">21 Jun, 11:02 am</span></h3>
                </div>
            </ion-item>

            <ion-item class="added_to_wallet animate__animated animate__fadeInUp">
                <div class="item_inner">
                    <h2 class="d-flex">Added to Wallet <span class="end">$200.00</span></h2>
                    <h3 class="d-flex">Bank of USA <span class="end">20 Jun, 11:00 am</span></h3>
                </div>
            </ion-item>

            <ion-item class="animate__animated animate__fadeInUp">
                <div class="item_inner">
                    <h2 class="d-flex">Laptop Repair <span class="end">$10.00</span></h2>
                    <h3 class="d-flex">Emili Anderson <span class="end">13 Jun, 02:23 pm</span></h3>
                </div>
            </ion-item>

            <ion-item class="animate__animated animate__fadeInUp">
                <div class="item_inner">
                    <h2 class="d-flex">Home Sanitize <span class="end">$35.00</span></h2>
                    <h3 class="d-flex">Emili Anderson <span class="end">6 Jun, 07:09 pm</span></h3>
                </div>
            </ion-item>

            <ion-item class="animate__animated animate__fadeInUp">
                <div class="item_inner">
                    <h2 class="d-flex">Sent to Bank <span class="end">$50.00</span></h2>
                    <h3 class="d-flex">Bank of USA <span class="end">1 Jun, 07:09 pm</span></h3>
                </div>
            </ion-item>

            <ion-item class="animate__animated animate__fadeInUp">
                <div class="item_inner">
                    <h2 class="d-flex">Body Massage <span class="end">$18.00</span></h2>
                    <h3 class="d-flex">Bank of USA <span class="end">26 May, 09:58 am</span></h3>
                </div>
            </ion-item>

            <ion-item class="added_to_wallet animate__animated animate__fadeInUp">
                <div class="item_inner">
                    <h2 class="d-flex">Added to Wallet <span class="end">$200.00</span></h2>
                    <h3 class="d-flex">Bank of USA <span class="end">20 Jun, 11:00 am</span></h3>
                </div>
            </ion-item>
            <ion-item class="animate__animated animate__fadeInUp">
                <div class="item_inner">
                    <h2 class="d-flex">Carpet Cleaning <span class="end">$24.00</span></h2>
                    <h3 class="d-flex">Emili Anderson <span class="end">21 Jun, 11:02 am</span></h3>
                </div>
            </ion-item>

            <ion-item class="added_to_wallet animate__animated animate__fadeInUp">
                <div class="item_inner">
                    <h2 class="d-flex">Added to Wallet <span class="end">$200.00</span></h2>
                    <h3 class="d-flex">Bank of USA <span class="end">20 Jun, 11:00 am</span></h3>
                </div>
            </ion-item>

            <ion-item class="animate__animated animate__fadeInUp">
                <div class="item_inner">
                    <h2 class="d-flex">Laptop Repair <span class="end">$10.00</span></h2>
                    <h3 class="d-flex">Emili Anderson <span class="end">13 Jun, 02:23 pm</span></h3>
                </div>
            </ion-item>

            <ion-item class="animate__animated animate__fadeInUp">
                <div class="item_inner">
                    <h2 class="d-flex">Home Sanitize <span class="end">$35.00</span></h2>
                    <h3 class="d-flex">Emili Anderson <span class="end">6 Jun, 07:09 pm</span></h3>
                </div>
            </ion-item>

            <ion-item class="animate__animated animate__fadeInUp">
                <div class="item_inner">
                    <h2 class="d-flex">Sent to Bank <span class="end">$50.00</span></h2>
                    <h3 class="d-flex">Bank of USA <span class="end">1 Jun, 07:09 pm</span></h3>
                </div>
            </ion-item>

            <ion-item class="animate__animated animate__fadeInUp">
                <div class="item_inner">
                    <h2 class="d-flex">Body Massage <span class="end">$18.00</span></h2>
                    <h3 class="d-flex">Bank of USA <span class="end">26 May, 09:58 am</span></h3>
                </div>
            </ion-item>

            <ion-item class="added_to_wallet animate__animated animate__fadeInUp">
                <div class="item_inner">
                    <h2 class="d-flex">Added to Wallet <span class="end">$200.00</span></h2>
                    <h3 class="d-flex">Bank of USA <span class="end">20 Jun, 11:00 am</span></h3>
                </div>
            </ion-item>
            <ion-item class="animate__animated animate__fadeInUp">
                <div class="item_inner">
                    <h2 class="d-flex">Carpet Cleaning <span class="end">$24.00</span></h2>
                    <h3 class="d-flex">Emili Anderson <span class="end">21 Jun, 11:02 am</span></h3>
                </div>
            </ion-item>

            <ion-item class="added_to_wallet animate__animated animate__fadeInUp">
                <div class="item_inner">
                    <h2 class="d-flex">Added to Wallet <span class="end">$200.00</span></h2>
                    <h3 class="d-flex">Bank of USA <span class="end">20 Jun, 11:00 am</span></h3>
                </div>
            </ion-item>

            <ion-item class="animate__animated animate__fadeInUp">
                <div class="item_inner">
                    <h2 class="d-flex">Laptop Repair <span class="end">$10.00</span></h2>
                    <h3 class="d-flex">Emili Anderson <span class="end">13 Jun, 02:23 pm</span></h3>
                </div>
            </ion-item>

            <ion-item class="animate__animated animate__fadeInUp">
                <div class="item_inner">
                    <h2 class="d-flex">Home Sanitize <span class="end">$35.00</span></h2>
                    <h3 class="d-flex">Emili Anderson <span class="end">6 Jun, 07:09 pm</span></h3>
                </div>
            </ion-item>

            <ion-item class="animate__animated animate__fadeInUp">
                <div class="item_inner">
                    <h2 class="d-flex">Sent to Bank <span class="end">$50.00</span></h2>
                    <h3 class="d-flex">Bank of USA <span class="end">1 Jun, 07:09 pm</span></h3>
                </div>
            </ion-item>

            <ion-item class="animate__animated animate__fadeInUp">
                <div class="item_inner">
                    <h2 class="d-flex">Body Massage <span class="end">$18.00</span></h2>
                    <h3 class="d-flex">Bank of USA <span class="end">26 May, 09:58 am</span></h3>
                </div>
            </ion-item>

            <ion-item class="added_to_wallet animate__animated animate__fadeInUp">
                <div class="item_inner">
                    <h2 class="d-flex">Added to Wallet <span class="end">$200.00</span></h2>
                    <h3 class="d-flex">Bank of USA <span class="end">20 Jun, 11:00 am</span></h3>
                </div>
            </ion-item>
            <ion-item class="animate__animated animate__fadeInUp">
                <div class="item_inner">
                    <h2 class="d-flex">Carpet Cleaning <span class="end">$24.00</span></h2>
                    <h3 class="d-flex">Emili Anderson <span class="end">21 Jun, 11:02 am</span></h3>
                </div>
            </ion-item>

            <ion-item class="added_to_wallet animate__animated animate__fadeInUp">
                <div class="item_inner">
                    <h2 class="d-flex">Added to Wallet <span class="end">$200.00</span></h2>
                    <h3 class="d-flex">Bank of USA <span class="end">20 Jun, 11:00 am</span></h3>
                </div>
            </ion-item>

            <ion-item class="animate__animated animate__fadeInUp">
                <div class="item_inner">
                    <h2 class="d-flex">Laptop Repair <span class="end">$10.00</span></h2>
                    <h3 class="d-flex">Emili Anderson <span class="end">13 Jun, 02:23 pm</span></h3>
                </div>
            </ion-item>

            <ion-item class="animate__animated animate__fadeInUp">
                <div class="item_inner">
                    <h2 class="d-flex">Home Sanitize <span class="end">$35.00</span></h2>
                    <h3 class="d-flex">Emili Anderson <span class="end">6 Jun, 07:09 pm</span></h3>
                </div>
            </ion-item>

            <ion-item class="animate__animated animate__fadeInUp">
                <div class="item_inner">
                    <h2 class="d-flex">Sent to Bank <span class="end">$50.00</span></h2>
                    <h3 class="d-flex">Bank of USA <span class="end">1 Jun, 07:09 pm</span></h3>
                </div>
            </ion-item>

            <ion-item class="animate__animated animate__fadeInUp">
                <div class="item_inner">
                    <h2 class="d-flex">Body Massage <span class="end">$18.00</span></h2>
                    <h3 class="d-flex">Bank of USA <span class="end">26 May, 09:58 am</span></h3>
                </div>
            </ion-item>

            <ion-item class="added_to_wallet animate__animated animate__fadeInUp">
                <div class="item_inner">
                    <h2 class="d-flex">Added to Wallet <span class="end">$200.00</span></h2>
                    <h3 class="d-flex">Bank of USA <span class="end">20 Jun, 11:00 am</span></h3>
                </div>
            </ion-item>
        </div>
    </ion-list>
</ion-content>