div,
.ios,
.md {
    --primary: #fbaf03;
    --secondary: #7AC81E;
    --bg-color: #f8f9fd;
    --text-light: #b3b3b3;
    --text-dark: #616161;
    --text-black: #000;
    --red_color: #F56F70;
    --white: #fff;
    --transparent: rgba(0, 0, 0, 0);
}

.bg_color {
    --background: var(--bg-color);
}

.d-flex {
    display: flex !important;
    align-items: center;
    width: 100%;
    .end {
        margin-left: auto !important;
        margin-right: 0 !important;
        display: block;
    }
}

.center_img {
    position: relative;
    overflow: hidden;
    img {
        &.crop_img {
            position: absolute;
            min-width: 100%;
            min-height: 100%;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
        }
    }
}

.button {
    &.btn {
        width: 100%;
        font-size: 1rem;
        font-weight: 400;
        letter-spacing: 0.6px !important;
        height: 55px;
        --background: var(--primary);
        color: var(--white);
        margin: 0;
        --box-shadow: none;
        text-transform: none;
        ion-icon {
            font-size: 1.4rem;
        }
        &:hover:not(.disable-hover) {
            --background: var(--primary);
        }
        &.button-outline {
            --background: var(--transparent);
            color: var(--white);
            --border-color: var(--primary);
            --border-width: 1px;
            &:hover:not(.disable-hover) {
                --background: var(--transparent);
            }
        }
        &.button-round {
            --border-radius: 50px !important;
        }
        &.button-block {
            --border-radius: 6px !important;
        }
    }
}

ion-header {
    z-index: 999;
    &::after {
        display: none !important;
    }
    ion-toolbar {
        --background: var(--white);
        display: flex;
        align-items: center;
        min-height: 70px !important;
        height: auto;
        overflow: visible !important;
        --border-width: 0 !important;
        ion-buttons {
            position: relative !important;
            margin: 0;
            --padding-end: 0 !important;
            --padding-start: 0 !important;
            ion-back-button {
                --color: var(--text-black) !important;
                --icon-font-size: 1.6rem !important;
            }
            ion-menu-button {
                --color: var(--text-black) !important;
                --padding-end: 0 !important;
                font-size: 1.8rem !important;
                margin-right: 12px;
                &.ios {
                    font-size: 2rem !important;
                }
            }
            ion-back-button {
                .button-native {
                    padding: 0 !important;
                }
            }
            &.ios {
                padding: 0 10px !important;
            }
        }
        ion-title {
            color: var(--text-black);
            padding: 0 15px !important;
            padding-left: 0 !important;
            text-align: justify !important;
            font-size: 1.2rem;
            font-weight: 600;
            letter-spacing: 0;
            text-transform: none;
            display: block;
            position: relative !important;
            left: 0;
            overflow: visible !important;
            line-height: 70px;
        }
    }
    &.bg_transparent {
        ion-toolbar {
            --background: transparent;
            --ion-color-base: transparent !important;
        }
    }
}