<ion-tabs>
    <ion-tab-bar class="animate__animated animate__fadeInUp" slot="bottom">
        <ion-tab-button tab="hungerzHome">
            <div class="tab-button">
                <div class="tab-button-inner">
                    <div class="icon_box">
                        <img src="assets/images/Hungerz/ic_home.png" class="light-them-icon">
                        <img src="assets/images/Hungerz/ic_home_wt.png" class="dark-them-icon">
                    </div>
                </div>
            </div>

            <div class="tab-button selected">
                <div class="tab-button-inner">
                    <div class="icon_box">
                        <img src="assets/images/Hungerz/ic_homeact.png">
                    </div>
                    <h2>{{"home" | translate}}</h2>
                </div>
            </div>
        </ion-tab-button>

        <ion-tab-button tab="hungerzMyOrders">
            <div class="tab-button">
                <div class="tab-button-inner">
                    <div class="icon_box">
                        <img src="assets/images/Hungerz/ic_orders.png" class="light-them-icon">
                        <img src="assets/images/Hungerz/ic_orders_wt.png" class="dark-them-icon">
                    </div>
                </div>
            </div>

            <div class="tab-button selected">
                <div class="tab-button-inner">
                    <div class="icon_box">
                        <img src="assets/images/Hungerz/ic_ordersact.png">
                    </div>
                    <h2>{{"orders" | translate}}</h2>
                </div>
            </div>
        </ion-tab-button>

        <ion-tab-button tab="hungerzMyAccount">
            <div class="tab-button">
                <div class="tab-button-inner">
                    <div class="icon_box">
                        <img src="assets/images/Hungerz/ic_profile.png" class="light-them-icon">
                        <img src="assets/images/Hungerz/ic_profile_wt.png" class="dark-them-icon">
                    </div>
                </div>
            </div>

            <div class="tab-button selected">
                <div class="tab-button-inner">
                    <div class="icon_box">
                        <img src="assets/images/Hungerz/ic_profileact.png">
                    </div>
                    <h2>{{"account" | translate}}</h2>
                </div>
            </div>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>