<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="" icon="arrow-back-outline"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>

    <div class="banner">
        <div class="banner_text">
            <h1 class="d-flex animate__animated animate__fadeInUp">
                <ion-icon class="zmdi zmdi-flash"></ion-icon> Gro Wallet
            </h1>
            <h2 class="animate__animated animate__fadeInUp">
                {{"total_balance" | translate}}
                <strong>$185.00</strong>
            </h2>
            <p class="animate__animated animate__fadeInUp">GroMoney can be use for ordering Grocery only.</p>
        </div>
        <div class="add_money">
            <h3>+ {{"add_money" | translate}}</h3>
        </div>
    </div>
</ion-header>

<ion-content class="bg_color" fullscreen>
    <ion-list lines="none">
        <h2>{{"recent_transactions" | translate}}</h2>
        <ion-item class="animate__animated animate__fadeInUp ">
            <div class="item_inner d-flex">
                <div class="text_box">
                    <h3 class="d-flex">
                        Order DT5421CF
                        <span class="end">-$21.50</span>
                    </h3>
                    <h4 class="d-flex">
                        12 Jun, 12:35 pm
                        <span class="end">3 items</span>
                    </h4>
                </div>
            </div>
        </ion-item>

        <ion-item class="animate__animated animate__fadeInUp money_added">
            <div class="item_inner d-flex">
                <div class="text_box">
                    <h3 class="d-flex">
                        Cashback Received
                        <span class="end">+$3.50</span>
                    </h3>
                    <h4 class="d-flex">
                        10 Jun, 04:58 pm
                        <span class="end">Promocode Applied</span>
                    </h4>
                </div>
            </div>
        </ion-item>


        <ion-item class="animate__animated animate__fadeInUp money_added">
            <div class="item_inner d-flex">
                <div class="text_box">
                    <h3 class="d-flex">
                        Money Added
                        <span class="end">+$3.50</span>
                    </h3>
                    <h4 class="d-flex">
                        12 Jun, 12:35 pm
                        <span class="end">Bank of New York</span>
                    </h4>
                </div>
            </div>
        </ion-item>

        <ion-item class="animate__animated animate__fadeInUp ">
            <div class="item_inner d-flex">
                <div class="text_box">
                    <h3 class="d-flex">
                        Order DT5421CF
                        <span class="end">-$21.50</span>
                    </h3>
                    <h4 class="d-flex">
                        12 Jun, 12:35 pm
                        <span class="end">3 items</span>
                    </h4>
                </div>
            </div>
        </ion-item>

        <ion-item class="animate__animated animate__fadeInUp money_added">
            <div class="item_inner d-flex">
                <div class="text_box">
                    <h3 class="d-flex">
                        Cashback Received
                        <span class="end">+$3.50</span>
                    </h3>
                    <h4 class="d-flex">
                        10 Jun, 04:58 pm
                        <span class="end">Promocode Applied</span>
                    </h4>
                </div>
            </div>
        </ion-item>


        <ion-item class="animate__animated animate__fadeInUp money_added">
            <div class="item_inner d-flex">
                <div class="text_box">
                    <h3 class="d-flex">
                        Money Added
                        <span class="end">+$3.50</span>
                    </h3>
                    <h4 class="d-flex">
                        12 Jun, 12:35 pm
                        <span class="end">Bank of New York</span>
                    </h4>
                </div>
            </div>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp ">
            <div class="item_inner d-flex">
                <div class="text_box">
                    <h3 class="d-flex">
                        Order DT5421CF
                        <span class="end">-$21.50</span>
                    </h3>
                    <h4 class="d-flex">
                        12 Jun, 12:35 pm
                        <span class="end">3 items</span>
                    </h4>
                </div>
            </div>
        </ion-item>

        <ion-item class="animate__animated animate__fadeInUp money_added">
            <div class="item_inner d-flex">
                <div class="text_box">
                    <h3 class="d-flex">
                        Cashback Received
                        <span class="end">+$3.50</span>
                    </h3>
                    <h4 class="d-flex">
                        10 Jun, 04:58 pm
                        <span class="end">Promocode Applied</span>
                    </h4>
                </div>
            </div>
        </ion-item>


        <ion-item class="animate__animated animate__fadeInUp money_added">
            <div class="item_inner d-flex">
                <div class="text_box">
                    <h3 class="d-flex">
                        Money Added
                        <span class="end">+$3.50</span>
                    </h3>
                    <h4 class="d-flex">
                        12 Jun, 12:35 pm
                        <span class="end">Bank of New York</span>
                    </h4>
                </div>
            </div>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp ">
            <div class="item_inner d-flex">
                <div class="text_box">
                    <h3 class="d-flex">
                        Order DT5421CF
                        <span class="end">-$21.50</span>
                    </h3>
                    <h4 class="d-flex">
                        12 Jun, 12:35 pm
                        <span class="end">3 items</span>
                    </h4>
                </div>
            </div>
        </ion-item>

        <ion-item class="animate__animated animate__fadeInUp money_added">
            <div class="item_inner d-flex">
                <div class="text_box">
                    <h3 class="d-flex">
                        Cashback Received
                        <span class="end">+$3.50</span>
                    </h3>
                    <h4 class="d-flex">
                        10 Jun, 04:58 pm
                        <span class="end">Promocode Applied</span>
                    </h4>
                </div>
            </div>
        </ion-item>


        <ion-item class="animate__animated animate__fadeInUp money_added">
            <div class="item_inner d-flex">
                <div class="text_box">
                    <h3 class="d-flex">
                        Money Added
                        <span class="end">+$3.50</span>
                    </h3>
                    <h4 class="d-flex">
                        12 Jun, 12:35 pm
                        <span class="end">Bank of New York</span>
                    </h4>
                </div>
            </div>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp ">
            <div class="item_inner d-flex">
                <div class="text_box">
                    <h3 class="d-flex">
                        Order DT5421CF
                        <span class="end">-$21.50</span>
                    </h3>
                    <h4 class="d-flex">
                        12 Jun, 12:35 pm
                        <span class="end">3 items</span>
                    </h4>
                </div>
            </div>
        </ion-item>

        <ion-item class="animate__animated animate__fadeInUp money_added">
            <div class="item_inner d-flex">
                <div class="text_box">
                    <h3 class="d-flex">
                        Cashback Received
                        <span class="end">+$3.50</span>
                    </h3>
                    <h4 class="d-flex">
                        10 Jun, 04:58 pm
                        <span class="end">Promocode Applied</span>
                    </h4>
                </div>
            </div>
        </ion-item>


        <ion-item class="animate__animated animate__fadeInUp money_added">
            <div class="item_inner d-flex">
                <div class="text_box">
                    <h3 class="d-flex">
                        Money Added
                        <span class="end">+$3.50</span>
                    </h3>
                    <h4 class="d-flex">
                        12 Jun, 12:35 pm
                        <span class="end">Bank of New York</span>
                    </h4>
                </div>
            </div>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp ">
            <div class="item_inner d-flex">
                <div class="text_box">
                    <h3 class="d-flex">
                        Order DT5421CF
                        <span class="end">-$21.50</span>
                    </h3>
                    <h4 class="d-flex">
                        12 Jun, 12:35 pm
                        <span class="end">3 items</span>
                    </h4>
                </div>
            </div>
        </ion-item>

        <ion-item class="animate__animated animate__fadeInUp money_added">
            <div class="item_inner d-flex">
                <div class="text_box">
                    <h3 class="d-flex">
                        Cashback Received
                        <span class="end">+$3.50</span>
                    </h3>
                    <h4 class="d-flex">
                        10 Jun, 04:58 pm
                        <span class="end">Promocode Applied</span>
                    </h4>
                </div>
            </div>
        </ion-item>


        <ion-item class="animate__animated animate__fadeInUp money_added">
            <div class="item_inner d-flex">
                <div class="text_box">
                    <h3 class="d-flex">
                        Money Added
                        <span class="end">+$3.50</span>
                    </h3>
                    <h4 class="d-flex">
                        12 Jun, 12:35 pm
                        <span class="end">Bank of New York</span>
                    </h4>
                </div>
            </div>
        </ion-item>
    </ion-list>
</ion-content>