<ion-header>
    <ion-toolbar>
        <!-- <ion-buttons slot="start">
        <ion-back-button text="" icon="arrow-back-outline"></ion-back-button>
    </ion-buttons> -->
    </ion-toolbar>

    <div class="header_text">
        <h1 class="animate__animated animate__fadeInUp d-flex">
            {{"categories" | translate}}
            <ion-icon class="zmdi zmdi-search end"></ion-icon>
        </h1>
    </div>
</ion-header>

<ion-content class="bg_color" fullscreen>
    <ion-list lines="none">
        <ion-item class="animate__animated animate__fadeInUp" (click)="subCategories()">
            <div class="item_inner d-flex">
                <div class="img_box">
                    <img src="assets/images/Gropot/categories/categories1.png">
                </div>
                <div class="text_box">
                    <h3>Fruits & Vegetables (125)</h3>
                </div>
            </div>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp" (click)="subCategories()">
            <div class="item_inner d-flex">
                <div class="img_box">
                    <img src="assets/images/Gropot/categories/categories2.png">
                </div>
                <div class="text_box">
                    <h3>Cooking Essentials (86)</h3>
                </div>
            </div>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp" (click)="subCategories()">
            <div class="item_inner d-flex">
                <div class="img_box">
                    <img src="assets/images/Gropot/categories/categories3.png">
                </div>
                <div class="text_box">
                    <h3>Nut & Dry Fruits (79)</h3>
                </div>
            </div>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp" (click)="subCategories()">
            <div class="item_inner d-flex">
                <div class="img_box">
                    <img src="assets/images/Gropot/categories/categories4.png">
                </div>
                <div class="text_box">
                    <h3>Drink & Beverages (66)</h3>
                </div>
            </div>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp" (click)="subCategories()">
            <div class="item_inner d-flex">
                <div class="img_box">
                    <img src="assets/images/Gropot/categories/categories5.png">
                </div>
                <div class="text_box">
                    <h3>Ice Creams & Desserts (39)</h3>
                </div>
            </div>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp" (click)="subCategories()">
            <div class="item_inner d-flex">
                <div class="img_box">
                    <img src="assets/images/Gropot/categories/categories1.png">
                </div>
                <div class="text_box">
                    <h3>Fruits & Vegetables (125)</h3>
                </div>
            </div>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp" (click)="subCategories()">
            <div class="item_inner d-flex">
                <div class="img_box">
                    <img src="assets/images/Gropot/categories/categories2.png">
                </div>
                <div class="text_box">
                    <h3>Cooking Essentials (86)</h3>
                </div>
            </div>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp" (click)="subCategories()">
            <div class="item_inner d-flex">
                <div class="img_box">
                    <img src="assets/images/Gropot/categories/categories3.png">
                </div>
                <div class="text_box">
                    <h3>Nut & Dry Fruits (79)</h3>
                </div>
            </div>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp" (click)="subCategories()">
            <div class="item_inner d-flex">
                <div class="img_box">
                    <img src="assets/images/Gropot/categories/categories4.png">
                </div>
                <div class="text_box">
                    <h3>Drink & Beverages (66)</h3>
                </div>
            </div>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp" (click)="subCategories()">
            <div class="item_inner d-flex">
                <div class="img_box">
                    <img src="assets/images/Gropot/categories/categories5.png">
                </div>
                <div class="text_box">
                    <h3>Ice Creams & Desserts (39)</h3>
                </div>
            </div>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp" (click)="subCategories()">
            <div class="item_inner d-flex">
                <div class="img_box">
                    <img src="assets/images/Gropot/categories/categories1.png">
                </div>
                <div class="text_box">
                    <h3>Fruits & Vegetables (125)</h3>
                </div>
            </div>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp" (click)="subCategories()">
            <div class="item_inner d-flex">
                <div class="img_box">
                    <img src="assets/images/Gropot/categories/categories2.png">
                </div>
                <div class="text_box">
                    <h3>Cooking Essentials (86)</h3>
                </div>
            </div>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp" (click)="subCategories()">
            <div class="item_inner d-flex">
                <div class="img_box">
                    <img src="assets/images/Gropot/categories/categories3.png">
                </div>
                <div class="text_box">
                    <h3>Nut & Dry Fruits (79)</h3>
                </div>
            </div>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp" (click)="subCategories()">
            <div class="item_inner d-flex">
                <div class="img_box">
                    <img src="assets/images/Gropot/categories/categories4.png">
                </div>
                <div class="text_box">
                    <h3>Drink & Beverages (66)</h3>
                </div>
            </div>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp" (click)="subCategories()">
            <div class="item_inner d-flex">
                <div class="img_box">
                    <img src="assets/images/Gropot/categories/categories5.png">
                </div>
                <div class="text_box">
                    <h3>Ice Creams & Desserts (39)</h3>
                </div>
            </div>
        </ion-item>
    </ion-list>

</ion-content>