<ion-header>
    <ion-toolbar>
        <ion-title></ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="bg_color" fullscreen>
    <div class="content">
        <div class="img_box">
            <img src="assets/images/Clipix/subscribed.png">
        </div>
        <div class="text_box ion-text-center">
            <h1>{{'hola' | translate}} !!</h1>
            <h2>{{'you_are_subscribed_now' | translate}}</h2>
        </div>
        <div class="features">
            <p class="d-flex">
                <ion-icon class="zmdi zmdi-check-circle"></ion-icon>
                Get Access to All Full HD Contents
            </p>
            <p class="d-flex">
                <ion-icon class="zmdi zmdi-check-circle"></ion-icon>
                Enable Download Movies
            </p>
            <p class="d-flex">
                <ion-icon class="zmdi zmdi-check-circle"></ion-icon>
                Watch Premium Contents
            </p>
        </div>
    </div>
</ion-content>

<ion-footer class="ion-no-border">
    <ion-button size="large" shape="round" class="btn" (click)="tabs()">{{'find_your_show' | translate}}</ion-button>
</ion-footer>