div,
.ios,
.md {
    --primary: #fbaf03;
    --secondary: #7AC81E;
    --bg-color: #f8f9fd;
    --text-light: #b3b3b3;
    --text-dark: #616161;
    --text-black: #000;
    --red_color: #F56F70;
    --white: #fff;
    --transparent: rgba(0, 0, 0, 0);
}

.bg_color {
    --background: var(--bg-color);
}

.d-flex {
    display: flex !important;
    align-items: center;
    width: 100%;
    .end {
        margin-left: auto !important;
        margin-right: 0 !important;
        display: block;
    }
}

.center_img {
    position: relative;
    overflow: hidden;
    img {
        &.crop_img {
            position: absolute;
            min-width: 100%;
            min-height: 100%;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
        }
    }
}

.button {
    &.btn {
        width: 100%;
        font-size: 1rem;
        font-weight: 400;
        letter-spacing: 0.6px !important;
        height: 55px;
        --background: var(--primary);
        color: var(--white);
        margin: 0;
        --box-shadow: none;
        text-transform: none;
        ion-icon {
            font-size: 1.4rem;
        }
        &:hover:not(.disable-hover) {
            --background: var(--primary);
        }
        &.button-outline {
            --background: var(--transparent);
            color: var(--white);
            --border-color: var(--primary);
            --border-width: 1px;
            &:hover:not(.disable-hover) {
                --background: var(--transparent);
            }
        }
        &.button-round {
            --border-radius: 50px !important;
        }
        &.button-block {
            --border-radius: 6px !important;
        }
    }
}

ion-header {
    z-index: 999;
    &::after {
        display: none !important;
    }
    ion-toolbar {
        --background: var(--white);
        display: flex;
        align-items: center;
        min-height: 70px !important;
        height: auto;
        overflow: visible !important;
        --border-width: 0 !important;
        ion-buttons {
            position: relative !important;
            margin: 0;
            --padding-end: 0 !important;
            --padding-start: 0 !important;
            ion-back-button {
                --color: var(--text-black) !important;
                --icon-font-size: 1.6rem !important;
            }
            ion-menu-button {
                --color: var(--text-black) !important;
                --padding-end: 0 !important;
                font-size: 1.8rem !important;
                margin-right: 12px;
                &.ios {
                    font-size: 2rem !important;
                }
            }
            ion-back-button {
                .button-native {
                    padding: 0 !important;
                }
            }
            &.ios {
                padding: 0 10px !important;
            }
        }
        ion-title {
            color: var(--text-black);
            padding: 0 15px !important;
            padding-left: 0 !important;
            text-align: justify !important;
            font-size: 1.2rem;
            font-weight: 600;
            letter-spacing: 0;
            text-transform: none;
            display: block;
            position: relative !important;
            left: 0;
            overflow: visible !important;
            line-height: 70px;
        }
    }
    &.bg_transparent {
        ion-toolbar {
            --background: transparent;
            --ion-color-base: transparent !important;
        }
    }
}

ion-header ion-toolbar ion-title {
    padding: 0 15px !important;
    text-align: center !important;
    ion-segment {
        border: none !important;
        background: none !important;
        width: fit-content;
        margin: 0 auto;
        ion-segment-button {
            background: none !important;
            position: relative;
            font-size: 1.2rem;
            font-weight: 600;
            color: var(--text-light) !important;
            text-transform: unset !important;
            letter-spacing: 0;
            --color-checked: var(--primary) !important;
            text-align: justify !important;
            --background-checked: var(--transparent) !important;
            --border-width: 0 !important;
            --border-radius: 0 !important;
            box-shadow: none !important;
            --padding-start: 15px;
            --padding-end: 15px;
            margin: 0;
            width: fit-content;
            min-width: fit-content;
            ion-label {
                margin: 15px 0 8px 0;
            }
            &.segment-button-checked {
                ion-label {
                    color: var(--text-black) !important;
                }
            }
        }
    }
}

ion-slides {
    ion-slide {
        display: block;
        min-height: calc(100vh - 126px);
        max-height: calc(100vh - 126px);
        overflow: hidden;
        overflow-y: auto;
        text-align: initial;
        position: relative;
    }
}

ion-list {
    background: var(--transparent) !important;
    margin: 0;
    padding: 0;
    h2 {
        margin: 0;
        color: var(--text-light);
        text-transform: uppercase;
        font-size: 0.9rem;
        letter-spacing: .5px;
        padding: 20px 20px 3px 20px;
        font-weight: 500;
    }
    ion-item {
        padding: 0;
        min-height: unset !important;
        --inner-padding-end: 0px;
        --inner-min-height: unset !important;
        --padding-start: 0;
        --highligh-color-focused: var(--transparent) !important;
        background: var(--white);
        margin-top: 14px;
        .item_inner {
            width: 100%;
            .item_info {
                padding: 10px 15px;
                border-bottom: 1px solid var(--bg-color);
                .itme_img {
                    min-width: 37px;
                    height: 37px;
                    margin-right: 15px;
                    border-radius: 5px;
                }
                .item_details {
                    width: 100%;
                    h3 {
                        margin: 0;
                        font-size: 0.95rem;
                        color: var(--text-black);
                        font-weight: 600;
                        padding-bottom: 5px;
                        span {
                            &.order_status {
                                color: var(--primary);
                                font-weight: 500;
                                font-size: 0.9rem;
                                min-width: fit-content;
                            }
                        }
                    }
                    h4 {
                        margin: 0;
                        color: var(--text-light);
                        font-size: .8rem;
                        font-weight: 500;
                        letter-spacing: .3px;
                    }
                    h5 {
                        margin: 0;
                        color: var(--text-black);
                        font-size: .8rem;
                        font-weight: 500;
                        letter-spacing: .3px;
                        span {
                            color: var(--text-light);
                        }
                    }
                }
            }
            .order_info {
                padding: 10px 15px;
                align-items: flex-start;
                h6 {
                    margin: 0;
                    color: var(--secondary);
                    width: fit-content;
                    font-size: .9rem;
                    letter-spacing: .4px;
                    min-height: 42px;
                    min-width: fit-content;
                }
                h4 {
                    margin: 0;
                    color: var(--text-black);
                    width: fit-content;
                    font-size: .9rem;
                    min-width: fit-content;
                    font-weight: 400;
                    display: flex;
                    align-items: center;
                    ion-icon {
                        display: block;
                        min-width: 22px;
                        line-height: 15px;
                        font-size: .95rem;
                    }
                    strong {
                        font-size: .85rem;
                        font-weight: 500;
                    }
                }
                .spesh_bar {
                    min-width: 37px;
                    margin-right: 15px;
                }
                .items {
                    h5 {
                        margin: 0;
                        color: var(--text-black);
                        font-size: 0.85rem;
                        font-weight: 400;
                        padding: 3px 0;
                        &:first-child {
                            padding-top: 0;
                        }
                        &:last-child {
                            padding-bottom: 0;
                        }
                    }
                }
            }
        }
        &.delivered {
            .item_inner .item_info .item_details h3 span.order_status {
                color: var(--text-black);
                font-weight: 600;
            }
        }
    }
}

.animate__animated {
    --animate-duration: 0s;
    &:nth-child(1) {
        --animate-duration: .15s;
    }
    &:nth-child(2) {
        --animate-duration: .2s;
    }
    &:nth-child(3) {
        --animate-duration: .25s;
    }
    &:nth-child(4) {
        --animate-duration: .3s;
    }
    &:nth-child(5) {
        --animate-duration: .35s;
    }
    &:nth-child(6) {
        --animate-duration: .4s;
    }
    &:nth-child(7) {
        --animate-duration: .45s;
    }
    &:nth-child(8) {
        --animate-duration: .5s;
    }
    &:nth-child(9) {
        --animate-duration: .55s;
    }
    &:nth-child(10) {
        --animate-duration: .6s;
    }
    &:nth-child(11) {
        --animate-duration: .65s;
    }
    &:nth-child(12) {
        --animate-duration: .7s;
    }
    &:nth-child(13) {
        --animate-duration: .5s;
    }
    &:nth-child(14) {
        --animate-duration: .5s;
    }
    &:nth-child(15) {
        --animate-duration: .5s;
    }
}