div,
.ios,
.md {
    --primary: #69C4FF;
    --secondary: #93C152;
    --bg-color: #EBF3F9;
    --bg-secondary: #F0F7FD;
    --bg-light: #F8F9FD;
    --text-light: #A3BCCF;
    --text-light2: #B3B3B3;
    --text-dark: #4D4D4D;
    --text-black: #000;
    --red-color: #FF0927;
    --yelow_color: #FFAE22;
    --white: #fff;
    --transparent: rgba(0, 0, 0, 0);
}

.bg_color {
    --background: var(--bg-color);
}

.d-flex {
    display: flex !important;
    align-items: center;
    width: 100%;
    .end {
        margin-left: auto !important;
        margin-right: 0 !important;
        display: block;
    }
}

.center_img {
    position: relative;
    overflow: hidden;
    img {
        &.crop_img {
            position: absolute;
            min-width: 100%;
            min-height: 100%;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
        }
    }
}

.button {
    &.btn {
        width: 100%;
        font-size: 1rem;
        font-weight: 600;
        letter-spacing: 3px !important;
        height: 55px;
        --background: var(--primary);
        color: var(--white);
        margin: 0;
        --box-shadow: none;
        text-transform: uppercase !important;
        ion-icon {
            font-size: 1.4rem;
        }
        &:hover:not(.disable-hover) {
            --background: var(--primary);
        }
        &.button-outline {
            --background: var(--transparent);
            color: var(--white);
            --border-color: var(--primary);
            --border-width: 1px;
            &:hover:not(.disable-hover) {
                --background: var(--transparent);
            }
        }
        &.button-round {
            --border-radius: 50px !important;
        }
        &.button-block {
            --border-radius: 6px !important;
        }
    }
}

ion-header {
    z-index: 999;
    background: var(--bg-color);
    &::after {
        display: none !important;
    }
    ion-toolbar {
        --background: var(--bg-color);
        display: flex;
        align-items: center;
        min-height: 70px !important;
        height: auto;
        overflow: visible !important;
        --border-width: 0 !important;
        ion-buttons {
            position: relative !important;
            margin: 0;
            --padding-end: 0 !important;
            --padding-start: 0 !important;
            ion-back-button {
                background: url("../../assets/images/Handyzone/back.png");
                --color: var(--text-black) !important;
                --icon-font-size: 1.6rem !important;
                background-repeat: no-repeat;
                background-size: 18px;
                background-position: center;
                position: relative;
                right: -8px;
            }
            ion-menu-button {
                --color: var(--text-black) !important;
                --padding-end: 0 !important;
                font-size: 1.8rem !important;
                margin-right: 12px;
                &.ios {
                    font-size: 2rem !important;
                }
            }
            ion-back-button {
                .button-native {
                    padding: 0 !important;
                }
            }
            &.ios {
                padding: 0 10px !important;
            }
        }
        ion-title {
            color: var(--text-black);
            padding: 0 15px !important;
            padding-left: 0 !important;
            text-align: justify !important;
            font-size: 1.4rem;
            font-weight: 500;
            letter-spacing: 0;
            text-transform: none;
            display: block;
            position: relative !important;
            left: 0;
            overflow: visible !important;
            line-height: 70px;
            color: var(--text-dark);
        }
    }
    &.bg_transparent {
        background-color: var(--transparent) !important;
        ion-toolbar {
            --background: transparent;
            --ion-color-base: transparent !important;
        }
    }
    &.ios {
        ion-toolbar ion-buttons ion-back-button {
            right: unset;
        }
    }
}

.header_banner {
    align-items: flex-start;
    padding: 0 20px;
    .banner_img {
        min-width: fit-content;
        img {
            max-width: 140px;
            min-width: 140px;
            display: block;
        }
    }
    .text_box {
        padding-top: 4px;
        position: relative;
        h2 {
            margin: 0;
            color: var(--text-dark);
            font-size: 1.5rem;
            font-weight: 500;
            letter-spacing: 0;
            padding-bottom: 8px;
        }
        h3 {
            margin: 0;
            color: var(--text-light);
            font-size: .93rem;
            letter-spacing: 0.4px;
            padding: 0;
        }
    }
}

.animate__animated {
    --animate-duration: .0s;
    &:nth-child(1) {
        --animate-duration: .15s;
    }
    &:nth-child(2) {
        --animate-duration: .2s;
    }
    &:nth-child(3) {
        --animate-duration: .25s;
    }
    &:nth-child(4) {
        --animate-duration: .3s;
    }
    &:nth-child(5) {
        --animate-duration: .35s;
    }
    &:nth-child(6) {
        --animate-duration: .4s;
    }
    &:nth-child(7) {
        --animate-duration: .45s;
    }
    &:nth-child(8) {
        --animate-duration: .5s;
    }
    &:nth-child(9) {
        --animate-duration: .55s;
    }
    &:nth-child(10) {
        --animate-duration: .6s;
    }
    &:nth-child(11) {
        --animate-duration: .65s;
    }
    &:nth-child(12) {
        --animate-duration: .7s;
    }
    &:nth-child(13) {
        --animate-duration: .5s;
    }
    &:nth-child(14) {
        --animate-duration: .5s;
    }
    &:nth-child(15) {
        --animate-duration: .5s;
    }
}

ion-header {
    ion-toolbar {
        .toolbar_inner {
            display: flex;
            align-items: flex-start;
            width: 100%;
            padding: 10px 0;
            ion-buttons ion-back-button {
                display: block;
            }
        }
        ion-title {
            padding: 0 15px !important;
            display: none;
            overflow-x: hidden !important;
            .title-inner {
                .nameCategory {
                    width: 100%;
                    padding-bottom: 9px;
                    width: 100%;
                    h2 {
                        margin: 0;
                        color: var(--text-dark);
                        font-size: 1.34rem;
                        font-weight: 600;
                        letter-spacing: 0;
                        padding-bottom: 8px;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        white-space: nowrap;
                    }
                    h3 {
                        margin: 0;
                        color: var(--text-light2);
                        font-size: 0.9rem;
                        font-weight: 400;
                        letter-spacing: .3px;
                    }
                }
                .scroll_btn {
                    min-width: fit-content;
                    span {
                        width: 100%;
                        display: block;
                        color: var(--text-light2);
                        font-size: 2rem;
                        height: 16px;
                        margin: 0;
                        margin-bottom: 4px;
                        position: relative;
                        top: -11px;
                    }
                    h3 {
                        margin: 0;
                        color: var(--text-dark);
                        font-size: 1.1rem;
                    }
                }
            }
        }
    }
    &.active {
        ion-toolbar {
            --background: var(--white);
            ion-title {
                display: block;
            }
        }
    }
}

ion-list {
    background: none;
    width: 100%;
    padding: 0;
    margin: 0;
    min-height: calc(100vh - 70px);
    position: relative;
    --animate-duration: .25s;
    .background {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: calc(100% - 10px);
        height: 224px;
    }
    .profile_img {
        z-index: 9999;
        position: relative;
        max-height: 205px;
        overflow: hidden;
        --animate-duration: .25s !important;
        img {
            display: block;
            margin: 0 auto;
            height: 290px;
            max-width: 220px;
        }
    }
    ion-item {
        padding: 0;
        --inner-padding-end: 0px;
        --inner-min-height: unset !important;
        --padding-start: 0;
        --background: var(--transparent) !important;
        background: var(--white);
        --min-height: unset;
        margin: 0 auto;
        position: relative;
        border-radius: 10px;
        margin-bottom: 11px;
        width: calc(100% - 40px);
        overflow: hidden;
        padding: 20px;
        .item_inner {
            width: 100%;
        }
        &.info {
            .nameCategory {
                width: 100%;
                padding-bottom: 9px;
                h2 {
                    margin: 0;
                    color: var(--text-dark);
                    font-size: 1.34rem;
                    margin-bottom: 5px;
                    font-weight: 600;
                    letter-spacing: 0;
                }
                h3 {
                    margin: 0;
                    color: var(--text-light2);
                    font-size: 0.9rem;
                    font-weight: 400;
                    letter-spacing: .3px;
                }
            }
            .about {
                padding-bottom: 9px;
                p {
                    margin: 0;
                    color: var(--text-dark);
                    font-size: 0.99rem;
                }
            }
            ion-row {
                margin: 0 -5px;
                width: 100%;
                ion-col {
                    padding: 0 5px;
                    h4 {
                        margin: 0;
                        color: var(--text-light2);
                        font-size: 0.9rem;
                        font-weight: 400;
                        padding-bottom: 7px;
                        ion-icon {
                            font-size: 1.5rem;
                            position: relative;
                            top: 13px;
                            margin-top: -17px;
                            display: block;
                        }
                    }
                    h5 {
                        margin: 0;
                        color: var(--text-black);
                        font-size: 1rem;
                        letter-spacing: 0.5px;
                        small {
                            color: var(--text-light2);
                            font-size: 0.8rem;
                            font-weight: 400;
                        }
                        ion-icon {
                            color: var(--yelow_color);
                            font-size: 1rem;
                            position: relative;
                            top: 3px;
                        }
                    }
                }
            }
        }
        &.work_protfolio {
            background: none;
            width: 100%;
            padding: 0;
            position: relative;
            border-radius: 0;
            padding-bottom: 15px;
            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                width: calc(100% - 40px);
                height: 100%;
                margin: 0 auto;
                background: var(--white);
                border-radius: 10px;
            }
            h2 {
                color: var(--text-light2);
                font-size: 0.95rem;
                font-weight: 500;
                margin: 0;
                padding: 15px 40px;
            }
            .scroll-x {
                white-space: nowrap;
                overflow: hidden;
                overflow-x: auto !important;
                width: 100%;
                -ms-overflow-style: none;
                scrollbar-width: none;
                &::-webkit-scrollbar {
                    display: none;
                }
                .img_box {
                    display: inline-block;
                    border-radius: 4px;
                    background: var(--bg-color);
                    min-width: 155px;
                    height: 95px;
                    margin: 0 4px;
                    &:first-child {
                        margin-left: 40px;
                    }
                    &:last-child {
                        margin-right: 40px;
                    }
                }
            }
        }
    }
    .latest_reviews {
        h1 {
            color: var(--text-light2);
            font-size: 0.95rem;
            font-weight: 500;
            margin: 0;
            padding: 7px 40px 15px;
        }
        ion-item {
            padding: 13px 20px;
            .item_inner {
                .item_header {
                    width: 100%;
                    padding-bottom: 13px;
                    .img_box {
                        min-width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        margin-right: 13px;
                    }
                    .text_box {
                        width: 100%;
                        h2 {
                            margin: 0;
                            color: var(--text-dark);
                            font-size: 1rem;
                            margin-bottom: 5px;
                        }
                        h3 {
                            margin: 0;
                            color: var(--text-light2);
                            font-size: 0.8rem;
                            font-weight: 400;
                            span {
                                min-width: fit-content;
                                ion-icon {
                                    font-size: 1rem;
                                    color: #cbcbcb;
                                    margin: 0 .4px;
                                    &.active {
                                        color: var(--yelow_color);
                                    }
                                }
                            }
                        }
                    }
                }
                .experience {
                    p {
                        margin: 0;
                        color: var(--text-dark);
                        font-size: 0.99rem;
                    }
                }
                .scroll-x {
                    white-space: nowrap;
                    overflow: hidden;
                    overflow-x: auto;
                    width: 100%;
                    padding-top: 13px;
                    .img_box {
                        display: inline-block;
                        border-radius: 3px;
                        background: var(--bg-color);
                        min-width: 60px;
                        height: 60px;
                        margin: 0 4.5px;
                        &:first-child {
                            margin-left: 0px;
                        }
                        &:last-child {
                            margin-right: 0px;
                        }
                    }
                }
            }
        }
    }
}

ion-footer {
    background: var(--none);
    padding: 0 20px 20px 20px;
    ion-button {
        --animate-duration: .4s !important;
    }
}