<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="" icon="arrow-back-outline"></ion-back-button>
        </ion-buttons>
        <ion-title>
            {{"apply_coupon" | translate}}
        </ion-title>
    </ion-toolbar>
    <div class="form">
        <ion-item lines="none" class="animate__animated animate__fadeInUp">
            <div class="item_inner">
                <!-- <ion-label>{{'phone_number' | translate}}</ion-label> -->
                <div class="input_box d-flex">
                    <ion-input type="text" value="" placeholder="{{'enter_coupon_code' | translate}}"></ion-input>

                    <h3 class="end" (click)="apply()">
                        {{"apply" | translate}}
                    </h3>
                </div>
            </div>
        </ion-item>
    </div>
</ion-header>

<ion-content class="bg_color" fullscreen>
    <ion-list lines="none">
        <h2> {{"available_coupons" | translate}}</h2>
        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner">
                <div class="itemHeader">
                    <h3 class="d-flex"> Get 50% OFF </h3>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                </div>
                <div class="itme_spacebar"><span></span></div>
                <div class="itemFooter d-flex">
                    <div class="order_status ">
                        <h4>Get50Gh</h4>
                    </div>
                    <h5 class="end" (click)="apply()"> {{"apply" | translate}}</h5>
                </div>
            </div>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner">
                <div class="itemHeader">
                    <h3 class="d-flex"> Get free Delivery </h3>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                </div>
                <div class="itme_spacebar"><span></span></div>
                <div class="itemFooter d-flex">
                    <div class="order_status ">
                        <h4>Freedel</h4>
                    </div>
                    <h5 class="end" (click)="apply()"> {{"apply" | translate}}</h5>
                </div>
            </div>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner">
                <div class="itemHeader">
                    <h3 class="d-flex"> Get 30% off </h3>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                </div>
                <div class="itme_spacebar"><span></span></div>
                <div class="itemFooter d-flex">
                    <div class="order_status ">
                        <h4>Get30Gh</h4>
                    </div>
                    <h5 class="end" (click)="apply()"> {{"apply" | translate}}</h5>
                </div>
            </div>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner">
                <div class="itemHeader">
                    <h3 class="d-flex"> Get 50% OFF </h3>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                </div>
                <div class="itme_spacebar"><span></span></div>
                <div class="itemFooter d-flex">
                    <div class="order_status ">
                        <h4>Get50Gh</h4>
                    </div>
                    <h5 class="end" (click)="apply()"> {{"apply" | translate}}</h5>
                </div>
            </div>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner">
                <div class="itemHeader">
                    <h3 class="d-flex"> Get free Delivery </h3>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                </div>
                <div class="itme_spacebar"><span></span></div>
                <div class="itemFooter d-flex">
                    <div class="order_status ">
                        <h4>Freedel</h4>
                    </div>
                    <h5 class="end" (click)="apply()"> {{"apply" | translate}}</h5>
                </div>
            </div>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner">
                <div class="itemHeader">
                    <h3 class="d-flex"> Get 30% off </h3>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                </div>
                <div class="itme_spacebar"><span></span></div>
                <div class="itemFooter d-flex">
                    <div class="order_status ">
                        <h4>Get30Gh</h4>
                    </div>
                    <h5 class="end" (click)="apply()"> {{"apply" | translate}}</h5>
                </div>
            </div>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner">
                <div class="itemHeader">
                    <h3 class="d-flex"> Get 50% OFF </h3>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                </div>
                <div class="itme_spacebar"><span></span></div>
                <div class="itemFooter d-flex">
                    <div class="order_status ">
                        <h4>Get50Gh</h4>
                    </div>
                    <h5 class="end" (click)="apply()"> {{"apply" | translate}}</h5>
                </div>
            </div>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner">
                <div class="itemHeader">
                    <h3 class="d-flex"> Get free Delivery </h3>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                </div>
                <div class="itme_spacebar"><span></span></div>
                <div class="itemFooter d-flex">
                    <div class="order_status ">
                        <h4>Freedel</h4>
                    </div>
                    <h5 class="end" (click)="apply()"> {{"apply" | translate}}</h5>
                </div>
            </div>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp">
            <div class="item_inner">
                <div class="itemHeader">
                    <h3 class="d-flex"> Get 30% off </h3>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                </div>
                <div class="itme_spacebar"><span></span></div>
                <div class="itemFooter d-flex">
                    <div class="order_status ">
                        <h4>Get30Gh</h4>
                    </div>
                    <h5 class="end" (click)="apply()"> {{"apply" | translate}}</h5>
                </div>
            </div>
        </ion-item>
    </ion-list>
</ion-content>