.ios,
.md {
    --white: #fff;
    --primary: #87c429;
    --bg-color: #f4f7f8;
    --bg-white: #fff;
    --transparent: rgba(0, 0, 0, 0);
    --text-light: #697070;
    --label-color: #484d4d;
    --text-light2: #aeb5b5;
    --text-dark: #2b2c30;
    --info-color: #3f96e6;
    --red-color: #e63f3f;
    --red-color2: #f3162b;
    --text-black: #000;
    --border-line-color: #ebebeb;
}

.bg_color {
    --background: var(--bg-color);
}

.bg_white {
    --background: var(--bg-white);
}

img {
    display: inline-block;
    &.lightThemeImg {
        display: block;
    }
    &.darkThemeImg {
        display: none;
    }
}

.d-flex {
    display: flex !important;
    align-items: center;
    width: 100%;
    .end {
        margin-left: auto !important;
        margin-right: 0 !important;
        display: block;
    }
}

.center_img {
    position: relative;
    overflow: hidden;
    img {
        &.crop_img {
            position: absolute;
            min-width: 100%;
            min-height: 100%;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
        }
    }
}

ion-header {
    z-index: 999;
    background: var(--bg-white);
    &::after {
        display: none !important;
    }
    ion-toolbar {
        --background: var(--bg-white);
        display: flex;
        align-items: center;
        min-height: 70px !important;
        height: auto;
        overflow: visible !important;
        --border-width: 0 !important;
        padding: 0 8px;
        ion-buttons {
            position: relative !important;
            margin: 0;
            --padding-end: 0 !important;
            --padding-start: 0 !important;
            --color: var(--text-dark) !important;
            .button-inner {
                ion-icon {
                    font-size: 1.8rem;
                    padding-left: 00px;
                    color: var(--text-dark);
                }
            }
            ion-back-button {
                --color: var(--text-dark) !important;
                color: var(--text-dark) !important;
            }
            ion-menu-button {
                --color: var(--text-dark) !important;
                --padding-end: 0 !important;
                font-size: 1.85rem !important;
                &.ios {
                    font-size: 1.85rem !important;
                }
            }
            ion-back-button {
                .button-native {
                    padding: 0 !important;
                }
            }
            &.ios {
                padding: 0 10px !important;
            }
        }
        ion-title {
            color: var(--text-dark);
            font-size: 1.2rem;
            font-weight: 500;
            overflow: visible !important;
            line-height: 70px;
            position: absolute !important;
            left: 0;
            width: 100%;
            text-align: center;
            padding: 0 15px !important;
            top: -6px;
            letter-spacing: 0;
        }
    }
    &.bg_transparent {
        z-index: 999;
        width: 100%;
        height: auto;
        background: var(--transparent);
        ion-toolbar {
            --background: var(--transparent);
            --ion-color-base: var(--transparent) !important;
        }
    }
    .header_text {
        width: 100%;
        padding: 0 20px;
        min-height: 100px;
        h1 {
            margin: 0;
            color: var(--text-dark);
            font-weight: 600;
            font-size: 1.4rem;
            padding-bottom: 10px;
            width: 100%;
        }
        h2 {
            margin: 0;
            color: var(--text-light);
            font-size: 1.05rem;
            width: 100%;
            line-height: 23px;
        }
    }
}

.form {
    display: block;
    overflow: visible;
    position: relative;
    margin: 0 auto;
    width: calc(100% - 40px);
    ion-list {
        margin: 0;
        overflow: hidden !important;
        background: none;
        width: 100%;
        padding: 0;
    }
    ion-item {
        padding: 0;
        min-height: unset !important;
        margin: 0;
        --background: var(--transparent);
        --inner-padding-end: 0px;
        --inner-min-height: unset !important;
        --padding-start: 0;
        --highligh-color-focused: var(--transparent) !important;
        --background-hover: var(--transparent) !important;
        --background-focused: var(--transparent) !important;
        --ripple-color: var(--transparent) !important;
        box-shadow: none !important;
        overflow: visible !important;
        margin-bottom: 30px;
        ion-label {
            color: var(--label-color) !important;
            margin: 0;
            font-size: 1rem !important;
            letter-spacing: 0;
            font-weight: 500;
            max-width: 100% !important;
            width: 100% !important;
            flex: unset !important;
            padding-bottom: 10px;
        }
        .item_inner {
            width: 100%;
            .input_box {
                width: 100%;
                border: 2px solid var(--border-line-color);
                border-radius: 6px;
                padding: 0 16px;
            }
        }
        ion-icon {
            color: var(--primary);
            font-size: 1.2rem;
            min-width: 25px;
            padding: 0 3px;
            margin-top: 0;
            margin-bottom: 0;
            &.ion-accordion-toggle-icon {
                color: var(--text-dark);
            }
        }
        ion-textarea,
        ion-input {
            --padding: 0 !important;
            font-size: .95rem !important;
            font-weight: 500 !important;
            letter-spacing: 0;
            --padding-start: 0 !important;
            --padding-end: 0px !important;
            --padding-top: 12px !important;
            --padding-bottom: 12px !important;
            color: var(--text-dark);
            --placeholder-color: var(--text-light2) !important;
            --placeholder-opacity: 1;
            --placeholder-font-weight: 500 !important;
            margin: 0;
            flex: unset !important;
            input {
                --padding: var(--no-padding);
                &.native-input {
                    --padding: var(--no-padding);
                }
            }
        }
        &.item-select {
            ion-select {
                padding: 11px 0;
                font-size: .95rem !important;
                font-weight: 500 !important;
                display: flex;
                letter-spacing: 0;
                align-items: center;
                width: 100%;
                max-width: 100%;
                color: var(--text-dark);
                --placeholder-color: var(--text-light2) !important;
                --placeholder-opacity: 1;
                &::part(icon) {
                    display: none !important;
                }
            }
            ion-icon {
                &.zmdi-caret-down {
                    font-size: 2rem;
                    color: var(--text-black);
                    line-height: normal;
                    height: 35px;
                    min-width: fit-content;
                }
            }
        }
        &.item-datetime {
            ion-datetime {
                padding: 15px 0;
                font-size: 1.1rem !important;
                font-weight: 500 !important;
                //color: var(--text-black);
                --placeholder-color: var(--text-light) !important;
            }
        }
    }
    ion-row {
        margin: 0 -5px;
    }
}

.animate__animated {
    --animate-duration: 0s;
    &:nth-child(1) {
        --animate-duration: 0.15s;
    }
    &:nth-child(2) {
        --animate-duration: 0.2s;
    }
    &:nth-child(3) {
        --animate-duration: 0.25s;
    }
    &:nth-child(4) {
        --animate-duration: 0.3s;
    }
    &:nth-child(5) {
        --animate-duration: 0.35s;
    }
    &:nth-child(6) {
        --animate-duration: 0.4s;
    }
    &:nth-child(7) {
        --animate-duration: 0.45s;
    }
    &:nth-child(8) {
        --animate-duration: 0.5s;
    }
    &:nth-child(9) {
        --animate-duration: 0.55s;
    }
    &:nth-child(10) {
        --animate-duration: 0.6s;
    }
    &:nth-child(11) {
        --animate-duration: 0.65s;
    }
    &:nth-child(12) {
        --animate-duration: 0.7s;
    }
    &:nth-child(13) {
        --animate-duration: 0.5s;
    }
    &:nth-child(14) {
        --animate-duration: 0.5s;
    }
    &:nth-child(15) {
        --animate-duration: 0.5s;
    }
}

ion-header {
    .form {
        padding-top: 25px;
        ion-item h3 {
            margin: 0;
            color: var(--primary);
            text-transform: uppercase;
            letter-spacing: 2px;
            font-size: 1rem;
            font-weight: 600;
            min-width: fit-content;
        }
    }
}

ion-content {
    border-radius: 30px 30px 0 0;
    overflow: hidden;
}

ion-list {
    background: var(--transparent) !important;
    margin: 0;
    padding: 20px 0 0 0;
    h2 {
        margin: 0;
        padding: 10px 20px 19px 20px;
        color: var(--text-black);
        font-size: .95rem;
        font-weight: 600;
    }
    ion-item {
        padding: 0;
        min-height: unset !important;
        --inner-padding-end: 0px;
        --inner-min-height: unset !important;
        --min-height: unset !important;
        --padding-start: 0;
        background: var(--bg-white);
        --background: var(--transparent);
        width: calc(100% - 40px);
        margin: 0 auto;
        margin-bottom: 15px;
        border-radius: 8px;
        .item_inner {
            width: 100%;
            .itemHeader {
                width: 100%;
                padding: 10px 15px 0 15px;
                h3 {
                    margin: 0;
                    color: var(--text-black);
                    font-size: 1rem;
                    font-weight: 500;
                    padding-bottom: 5px;
                    text-transform: uppercase;
                }
                p {
                    margin: 0;
                    color: var(--text-light2);
                    font-size: 0.73rem;
                }
            }
            .itme_spacebar {
                position: relative;
                min-height: 27px;
                overflow: hidden;
                display: flex;
                align-items: center;
                width: 100%;
                span {
                    display: block;
                    border-bottom: 2px dashed var(--border-line-color);
                    width: 100%;
                    height: 2px;
                    margin: auto;
                }
                &::after,
                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: -10px;
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    background: var(--bg-color);
                    margin: auto 0;
                }
                &::after {
                    right: -10px;
                    left: unset;
                }
            }
            .itemFooter {
                width: 100%;
                padding: 0px 15px 10px 15px;
                h5 {
                    margin: 0;
                    color: var(--primary);
                    text-transform: uppercase;
                    letter-spacing: 2px;
                    font-size: 1rem;
                    font-weight: 600;
                    min-width: fit-content;
                }
                .order_status {
                    position: relative;
                    overflow: hidden;
                    min-width: fit-content;
                    border-radius: 6px;
                    background: var(--bg-color);
                    border: 2px dashed var(--border-line-color);
                    h4 {
                        margin: 0;
                        position: relative;
                        z-index: 99;
                        color: var(--text-black);
                        font-size: 0.95rem;
                        padding: 8px 6px;
                        min-width: 116px;
                        text-align: center;
                        font-weight: 500;
                        text-transform: uppercase;
                        letter-spacing: 2.5px;
                    }
                }
            }
        }
    }
}