<ion-header>
    <ion-toolbar>
        <!-- <ion-buttons slot="start">
          <ion-back-button text="" icon="arrow-back-outline"></ion-back-button>
      </ion-buttons> -->
    </ion-toolbar>
    <div class="header_text d-flex">
        <div class="text_box">
            <h1 class="animate__animated animate__fadeInUp d-flex" (click)="selectLocation()">
                <span>Amzone Parks...</span>
                <ion-icon class="zmdi zmdi-chevron-down ion-text-end end"></ion-icon>
            </h1>
            <h2>Terminal 3, Potter road, New York</h2>
        </div>
        <div class="icon_box end" (click)="wallet()">
            <img src="assets/images/Gropot/ic_wallet.png">
        </div>
    </div>
</ion-header>

<ion-content class="bg_color" fullscreen>
    <div class="banner animate__animated animate__fadeInUp">
        <ion-slides pager="true" loop="true">
            <ion-slide>
                <div class="img_box center_img">
                    <img src="assets/images/Gropot/Banner/banner1.png" class="crop_img">
                </div>
            </ion-slide>
            <ion-slide>
                <div class="img_box center_img">
                    <img src="assets/images/Gropot/Banner/banner2.png" class="crop_img">
                </div>
            </ion-slide>
            <ion-slide>
                <div class="img_box center_img">
                    <img src="assets/images/Gropot/Banner/banner3.png" class="crop_img">
                </div>
            </ion-slide>
            <ion-slide>
                <div class="img_box center_img">
                    <img src="assets/images/Gropot/Banner/banner1.png" class="crop_img">
                </div>
            </ion-slide>
        </ion-slides>
    </div>

    <div class="search_box d-flex animate__animated animate__fadeInUp">
        <ion-icon class="zmdi zmdi-search ion-text-start"></ion-icon>
        <ion-searchbar mode="md" searchIcon="hide" clear-icon="string" placeholder="{{'serach_grocery' | translate}}"></ion-searchbar>
    </div>

    <div class="categories  animate__animated animate__fadeInUp">
        <h2>{{'categories' | translate}}</h2>
        <div class="scroll-x">
            <div class="item-scroll">
                <div class="item" (click)="subCategories()">
                    <div class="item_inner d-flex">
                        <div class="img_box">
                            <img src="assets/images/Gropot/categories/categories1.png">
                        </div>
                        <div class="text_box">
                            <h3>Fruits & <strong>Vegetables</strong></h3>
                        </div>
                    </div>
                </div>
                <div class="item" (click)="subCategories()">
                    <div class="item_inner d-flex">
                        <div class="img_box">
                            <img src="assets/images/Gropot/categories/categories2.png">
                        </div>
                        <div class="text_box">
                            <h3><strong>Cooking</strong> Essentials</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item-scroll">
                <div class="item" (click)="subCategories()">
                    <div class="item_inner d-flex">
                        <div class="img_box">
                            <img src="assets/images/Gropot/categories/categories3.png">
                        </div>
                        <div class="text_box">
                            <h3>Nut & <strong>Dry Fruits</strong></h3>
                        </div>
                    </div>
                </div>
                <div class="item" (click)="subCategories()">
                    <div class="item_inner d-flex">
                        <div class="img_box">
                            <img src="assets/images/Gropot/categories/categories4.png">
                        </div>
                        <div class="text_box">
                            <h3><strong>Drink</strong> Beverages </h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item-scroll">
                <div class="item" (click)="subCategories()">
                    <div class="item_inner d-flex">
                        <div class="img_box">
                            <img src="assets/images/Gropot/categories/categories5.png">
                        </div>
                        <div class="text_box">
                            <h3>Ice Creams <strong>Desserts</strong></h3>
                        </div>
                    </div>
                </div>
                <div class="item" (click)="subCategories()">
                    <div class="item_inner d-flex">
                        <div class="img_box">
                            <img src="assets/images/Gropot/categories/categories1.png">
                        </div>
                        <div class="text_box">
                            <h3><strong>Fruits</strong> Vegetables</h3>
                        </div>
                    </div>
                </div>
            </div>

            <div class="item-scroll">
                <div class="item" (click)="subCategories()">
                    <div class="item_inner d-flex">
                        <div class="img_box">
                            <img src="assets/images/Gropot/categories/categories1.png">
                        </div>
                        <div class="text_box">
                            <h3>Fruits & <strong>Vegetables</strong></h3>
                        </div>
                    </div>
                </div>
                <div class="item" (click)="subCategories()">
                    <div class="item_inner d-flex">
                        <div class="img_box">
                            <img src="assets/images/Gropot/categories/categories2.png">
                        </div>
                        <div class="text_box">
                            <h3><strong>Cooking</strong> Essentials</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item-scroll">
                <div class="item" (click)="subCategories()">
                    <div class="item_inner d-flex">
                        <div class="img_box">
                            <img src="assets/images/Gropot/categories/categories3.png">
                        </div>
                        <div class="text_box">
                            <h3>Nut & <strong>Dry Fruits</strong></h3>
                        </div>
                    </div>
                </div>
                <div class="item" (click)="subCategories()">
                    <div class="item_inner d-flex">
                        <div class="img_box">
                            <img src="assets/images/Gropot/categories/categories4.png">
                        </div>
                        <div class="text_box">
                            <h3><strong>Drink</strong> Beverages </h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item-scroll">
                <div class="item" (click)="subCategories()">
                    <div class="item_inner d-flex">
                        <div class="img_box">
                            <img src="assets/images/Gropot/categories/categories5.png">
                        </div>
                        <div class="text_box">
                            <h3>Ice Creams <strong>Desserts</strong></h3>
                        </div>
                    </div>
                </div>
                <div class="item" (click)="subCategories()">
                    <div class="item_inner d-flex">
                        <div class="img_box">
                            <img src="assets/images/Gropot/categories/categories1.png">
                        </div>
                        <div class="text_box">
                            <h3><strong>Fruits</strong> Vegetables</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item-scroll">
                <div class="item" (click)="subCategories()">
                    <div class="item_inner d-flex">
                        <div class="img_box">
                            <img src="assets/images/Gropot/categories/categories1.png">
                        </div>
                        <div class="text_box">
                            <h3>Fruits & <strong>Vegetables</strong></h3>
                        </div>
                    </div>
                </div>
                <div class="item" (click)="subCategories()">
                    <div class="item_inner d-flex">
                        <div class="img_box">
                            <img src="assets/images/Gropot/categories/categories2.png">
                        </div>
                        <div class="text_box">
                            <h3><strong>Cooking</strong> Essentials</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item-scroll">
                <div class="item" (click)="subCategories()">
                    <div class="item_inner d-flex">
                        <div class="img_box">
                            <img src="assets/images/Gropot/categories/categories3.png">
                        </div>
                        <div class="text_box">
                            <h3>Nut & <strong>Dry Fruits</strong></h3>
                        </div>
                    </div>
                </div>
                <div class="item" (click)="subCategories()">
                    <div class="item_inner d-flex">
                        <div class="img_box">
                            <img src="assets/images/Gropot/categories/categories4.png">
                        </div>
                        <div class="text_box">
                            <h3><strong>Drink</strong> Beverages </h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item-scroll">
                <div class="item" (click)="subCategories()">
                    <div class="item_inner d-flex">
                        <div class="img_box">
                            <img src="assets/images/Gropot/categories/categories5.png">
                        </div>
                        <div class="text_box">
                            <h3>Ice Creams <strong>Desserts</strong></h3>
                        </div>
                    </div>
                </div>
                <div class="item" (click)="subCategories()">
                    <div class="item_inner d-flex">
                        <div class="img_box">
                            <img src="assets/images/Gropot/categories/categories1.png">
                        </div>
                        <div class="text_box">
                            <h3><strong>Fruits</strong> Vegetables</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="popular_near_you  animate__animated animate__fadeInUp">
        <h2>{{'popular_near_you' | translate}}</h2>
        <div class="item_list">
            <ion-row>
                <ion-col size="6" class="animate__animated animate__zoomIn">
                    <div class="item">
                        <div class="itemHeader" (click)="itemInfo()">
                            <h3 class="d-flex">Watermelon</h3>
                        </div>
                        <div class="img_box" (click)="itemInfo()">
                            <img src="assets/images/Gropot/items/items8.png">
                        </div>
                        <div class="itemFooter d-flex">
                            <div class="text_box" (click)="itemInfo()">
                                <h3>1 pc</h3>
                                <h2>$5.00</h2>
                            </div>
                            <div class="addRemoveButton end" [ngClass]="addItem1 ? 'addItem1 active' : 'addItem1'" (click)="Item1()">
                                <span>+</span>
                                <strong>1</strong>
                                <span class="RemoveButton">-</span>
                            </div>
                        </div>
                    </div>
                </ion-col>

                <ion-col size="6" class="animate__animated animate__zoomIn">
                    <div class="item">
                        <div class="itemHeader" (click)="itemInfo()">
                            <h3 class="d-flex">Mango</h3>
                        </div>
                        <div class="img_box" (click)="itemInfo()">
                            <img src="assets/images/Gropot/items/items5.png">
                            <h5>10% off</h5>
                        </div>
                        <div class="itemFooter d-flex">
                            <div class="text_box" (click)="itemInfo()">
                                <h3>500 gm</h3>
                                <h2>$10.00</h2>
                            </div>
                            <div class="addRemoveButton end" [ngClass]="addItem2 ? 'addItem2 active' : 'addItem2'" (click)="Item2()">
                                <span>+</span>
                                <strong>1</strong>
                                <span class="RemoveButton">-</span>
                            </div>
                        </div>
                    </div>
                </ion-col>

                <ion-col size="6" class="animate__animated animate__zoomIn">
                    <div class="item">
                        <div class="itemHeader" (click)="itemInfo()">
                            <h3 class="d-flex">Tender Coconut</h3>
                        </div>
                        <div class="img_box" (click)="itemInfo()">
                            <img src="assets/images/Gropot/items/items7.png">
                            <h5>10% off</h5>
                        </div>
                        <div class="itemFooter d-flex">
                            <div class="text_box" (click)="itemInfo()">
                                <h3>1 pc</h3>
                                <h2>$4.50</h2>
                            </div>
                            <div class="addRemoveButton end" [ngClass]="addItem3 ? 'addItem3 active' : 'addItem3'" (click)="Item3()">
                                <span>+</span>
                                <strong>1</strong>
                                <span class="RemoveButton">-</span>
                            </div>
                        </div>
                    </div>
                </ion-col>

                <ion-col size="6" class="animate__animated animate__zoomIn">
                    <div class="item">
                        <div class="itemHeader" (click)="itemInfo()">
                            <h3 class="d-flex">Muskmelon</h3>
                        </div>
                        <div class="img_box" (click)="itemInfo()">
                            <img src="assets/images/Gropot/items/items6.png">
                        </div>
                        <div class="itemFooter d-flex">
                            <div class="text_box" (click)="itemInfo()">
                                <h3>1 pc</h3>
                                <h2>$5.50</h2>
                            </div>
                            <div class="addRemoveButton end" [ngClass]="addItem4 ? 'addItem4 active' : 'addItem4'" (click)="Item4()">
                                <span>+</span>
                                <strong>1</strong>
                                <span class="RemoveButton">-</span>
                            </div>
                        </div>
                    </div>
                </ion-col>

                <ion-col size="6" class="animate__animated animate__zoomIn">
                    <div class="item">
                        <div class="itemHeader" (click)="itemInfo()">
                            <h3 class="d-flex">Fresh Kiwi</h3>
                        </div>
                        <div class="img_box" (click)="itemInfo()">
                            <img src="assets/images/Gropot/items/items3.png">
                        </div>
                        <div class="itemFooter d-flex">
                            <div class="text_box" (click)="itemInfo()">
                                <h3>500 gm</h3>
                                <h2>$6.00</h2>
                            </div>
                            <div class="addRemoveButton end" [ngClass]="addItem5 ? 'addItem5 active' : 'addItem5'" (click)="Item5()">
                                <span>+</span>
                                <strong>1</strong>
                                <span class="RemoveButton">-</span>
                            </div>
                        </div>
                    </div>
                </ion-col>

                <ion-col size="6" class="animate__animated animate__zoomIn">
                    <div class="item">
                        <div class="itemHeader" (click)="itemInfo()">
                            <h3 class="d-flex">Jackfruit</h3>
                        </div>
                        <div class="img_box" (click)="itemInfo()">
                            <img src="assets/images/Gropot/items/items2.png">
                        </div>
                        <div class="itemFooter d-flex">
                            <div class="text_box" (click)="itemInfo()">
                                <h3>1 kg</h3>
                                <h2>$4.50</h2>
                            </div>
                            <div class="addRemoveButton end" [ngClass]="addItem6 ? 'addItem6 active' : 'addItem6'" (click)="Item6()">
                                <span>+</span>
                                <strong>1</strong>
                                <span class="RemoveButton">-</span>
                            </div>
                        </div>
                    </div>
                </ion-col>

                <ion-col size="6" class="animate__animated animate__zoomIn">
                    <div class="item">
                        <div class="itemHeader" (click)="itemInfo()">
                            <h3 class="d-flex">Green Mango</h3>
                        </div>
                        <div class="img_box" (click)="itemInfo()">
                            <img src="assets/images/Gropot/items/items4.png">
                        </div>
                        <div class="itemFooter d-flex">
                            <div class="text_box" (click)="itemInfo()">
                                <h3>1 kg</h3>
                                <h2>$5.70</h2>
                            </div>
                            <div class="addRemoveButton end" [ngClass]="addItem7 ? 'addItem7 active' : 'addItem7'" (click)="Item7()">
                                <span>+</span>
                                <strong>1</strong>
                                <span class="RemoveButton">-</span>
                            </div>
                        </div>
                    </div>
                </ion-col>

                <ion-col size="6" class="animate__animated animate__zoomIn">
                    <div class="item">
                        <div class="itemHeader" (click)="itemInfo()">
                            <h3 class="d-flex">Coconut</h3>
                        </div>
                        <div class="img_box" (click)="itemInfo()">
                            <img src="assets/images/Gropot/items/items1.png">
                        </div>
                        <div class="itemFooter d-flex">
                            <div class="text_box" (click)="itemInfo()">
                                <h3>1 pc</h3>
                                <h2>$2.50</h2>
                            </div>
                            <div class="addRemoveButton end" [ngClass]="addItem8 ? 'addItem8 active' : 'addItem8'" (click)="Item8()">
                                <span>+</span>
                                <strong>1</strong>
                                <span class="RemoveButton">-</span>
                            </div>
                        </div>
                    </div>
                </ion-col>
            </ion-row>
        </div>
    </div>
</ion-content>

<ion-footer class="ion-no-border  animate__animated animate__fadeInUp" [ngClass]="showCartButton ? 'showCartButton active' : 'showCartButton'">
    <div class="view_cart d-flex">
        <h2>1 {{"items" | translate}} <span></span> $10.00</h2>

        <ion-button size="large" shape="block" class="btn end" (click)="cart()">
            <ion-icon class="zmdi zmdi-shopping-basket ion-text-start"></ion-icon>
            {{'view_cart' | translate}}
        </ion-button>
    </div>
</ion-footer>