<ion-header class="bg_transparent">
    <ion-toolbar>
        <ion-buttons slot="start" mode="md">
            <ion-back-button text="" icon=""></ion-back-button>
        </ion-buttons>
        <ion-title></ion-title>
    </ion-toolbar>

    <h1 class="d-flex">Carpet Shampooing <img src="assets/images/Handyzone/ic_filters.png" class="end" (click)="setViewType('active')"></h1>
</ion-header>

<ion-content fullscreen>
    <ion-list lines="none">
        <ion-item class="animate__animated animate__fadeInUp" (click)="provider_profile()">
            <div class="item_inner d-flex">
                <div class="text_box">
                    <div class="nameCategory">
                        <h2>Emili Anderson</h2>
                        <h3>Cleaner</h3>
                    </div>
                    <ion-row>
                        <ion-col size="4">
                            <h4>{{'jobs' | translate}}</h4>
                            <h5>187</h5>
                        </ion-col>
                        <ion-col size="4">
                            <h4>{{'rate' | translate}}</h4>
                            <h5>$12 <small>/ hr</small></h5>
                        </ion-col>

                        <ion-col size="4">
                            <h4>{{'rating' | translate}}</h4>
                            <h5>
                                <ion-icon class="zmdi zmdi-star"></ion-icon> 4.5
                            </h5>
                        </ion-col>
                    </ion-row>
                </div>
                <div class="img_box end animate__animated animate__fadeInUp">
                    <img src="assets/images/Handyzone/provider_1.png">
                </div>
            </div>
        </ion-item>

        <ion-item class="animate__animated animate__fadeInUp" (click)="provider_profile()">
            <div class="item_inner d-flex">
                <div class="text_box">
                    <div class="nameCategory">
                        <h2>Alisha Patel</h2>
                        <h3>Cleaner</h3>
                    </div>
                    <ion-row>
                        <ion-col size="4">
                            <h4>{{'jobs' | translate}}</h4>
                            <h5>112</h5>
                        </ion-col>
                        <ion-col size="4">
                            <h4>{{'rate' | translate}}</h4>
                            <h5>$10 <small>/ hr</small></h5>
                        </ion-col>

                        <ion-col size="4">
                            <h4>{{'rating' | translate}}</h4>
                            <h5>
                                <ion-icon class="zmdi zmdi-star"></ion-icon> 4.3
                            </h5>
                        </ion-col>
                    </ion-row>
                </div>
                <div class="img_box end animate__animated animate__fadeInUp">
                    <img src="assets/images/Handyzone/provider_3.png">
                </div>
            </div>
        </ion-item>

        <ion-item class="animate__animated animate__fadeInUp" (click)="provider_profile()">
            <div class="item_inner d-flex">
                <div class="text_box">
                    <div class="nameCategory">
                        <h2>Linda Haydon</h2>
                        <h3>Cleaner</h3>
                    </div>
                    <ion-row>
                        <ion-col size="4">
                            <h4>{{'jobs' | translate}}</h4>
                            <h5>226</h5>
                        </ion-col>
                        <ion-col size="4">
                            <h4>{{'rate' | translate}}</h4>
                            <h5>$9 <small>/ hr</small></h5>
                        </ion-col>

                        <ion-col size="4">
                            <h4>{{'rating' | translate}}</h4>
                            <h5>
                                <ion-icon class="zmdi zmdi-star"></ion-icon> 3.9
                            </h5>
                        </ion-col>
                    </ion-row>
                </div>
                <div class="img_box end animate__animated animate__fadeInUp">
                    <img src="assets/images/Handyzone/provider_2.png">
                </div>
            </div>
        </ion-item>


        <ion-item class="animate__animated animate__fadeInUp" (click)="provider_profile()">
            <div class="item_inner d-flex">
                <div class="text_box">
                    <div class="nameCategory">
                        <h2>Peter Johnson</h2>
                        <h3>Cleaner</h3>
                    </div>
                    <ion-row>
                        <ion-col size="4">
                            <h4>{{'jobs' | translate}}</h4>
                            <h5>199</h5>
                        </ion-col>
                        <ion-col size="4">
                            <h4>{{'rate' | translate}}</h4>
                            <h5>$12 <small>/ hr</small></h5>
                        </ion-col>

                        <ion-col size="4">
                            <h4>{{'rating' | translate}}</h4>
                            <h5>
                                <ion-icon class="zmdi zmdi-star"></ion-icon> 3.2
                            </h5>
                        </ion-col>
                    </ion-row>
                </div>
                <div class="img_box end animate__animated animate__fadeInUp">
                    <img src="assets/images/Handyzone/provider_4.png">
                </div>
            </div>
        </ion-item>

        <ion-item class="animate__animated animate__fadeInUp" (click)="provider_profile()">
            <div class="item_inner d-flex">
                <div class="text_box">
                    <div class="nameCategory">
                        <h2>Emili Anderson</h2>
                        <h3>Cleaner</h3>
                    </div>
                    <ion-row>
                        <ion-col size="4">
                            <h4>{{'jobs' | translate}}</h4>
                            <h5>187</h5>
                        </ion-col>
                        <ion-col size="4">
                            <h4>{{'rate' | translate}}</h4>
                            <h5>$12 <small>/ hr</small></h5>
                        </ion-col>

                        <ion-col size="4">
                            <h4>{{'rating' | translate}}</h4>
                            <h5>
                                <ion-icon class="zmdi zmdi-star"></ion-icon> 4.5
                            </h5>
                        </ion-col>
                    </ion-row>
                </div>
                <div class="img_box end animate__animated animate__fadeInUp">
                    <img src="assets/images/Handyzone/provider_1.png">
                </div>
            </div>
        </ion-item>

        <ion-item class="animate__animated animate__fadeInUp" (click)="provider_profile()">
            <div class="item_inner d-flex">
                <div class="text_box">
                    <div class="nameCategory">
                        <h2>Alisha Patel</h2>
                        <h3>Cleaner</h3>
                    </div>
                    <ion-row>
                        <ion-col size="4">
                            <h4>{{'jobs' | translate}}</h4>
                            <h5>112</h5>
                        </ion-col>
                        <ion-col size="4">
                            <h4>{{'rate' | translate}}</h4>
                            <h5>$10 <small>/ hr</small></h5>
                        </ion-col>

                        <ion-col size="4">
                            <h4>{{'rating' | translate}}</h4>
                            <h5>
                                <ion-icon class="zmdi zmdi-star"></ion-icon> 4.3
                            </h5>
                        </ion-col>
                    </ion-row>
                </div>
                <div class="img_box end animate__animated animate__fadeInUp">
                    <img src="assets/images/Handyzone/provider_3.png">
                </div>
            </div>
        </ion-item>

        <ion-item class="animate__animated animate__fadeInUp" (click)="provider_profile()">
            <div class="item_inner d-flex">
                <div class="text_box">
                    <div class="nameCategory">
                        <h2>Linda Haydon</h2>
                        <h3>Cleaner</h3>
                    </div>
                    <ion-row>
                        <ion-col size="4">
                            <h4>{{'jobs' | translate}}</h4>
                            <h5>226</h5>
                        </ion-col>
                        <ion-col size="4">
                            <h4>{{'rate' | translate}}</h4>
                            <h5>$9 <small>/ hr</small></h5>
                        </ion-col>

                        <ion-col size="4">
                            <h4>{{'rating' | translate}}</h4>
                            <h5>
                                <ion-icon class="zmdi zmdi-star"></ion-icon> 3.9
                            </h5>
                        </ion-col>
                    </ion-row>
                </div>
                <div class="img_box end animate__animated animate__fadeInUp">
                    <img src="assets/images/Handyzone/provider_2.png">
                </div>
            </div>
        </ion-item>


        <ion-item class="animate__animated animate__fadeInUp" (click)="provider_profile()">
            <div class="item_inner d-flex">
                <div class="text_box">
                    <div class="nameCategory">
                        <h2>Peter Johnson</h2>
                        <h3>Cleaner</h3>
                    </div>
                    <ion-row>
                        <ion-col size="4">
                            <h4>{{'jobs' | translate}}</h4>
                            <h5>199</h5>
                        </ion-col>
                        <ion-col size="4">
                            <h4>{{'rate' | translate}}</h4>
                            <h5>$12 <small>/ hr</small></h5>
                        </ion-col>

                        <ion-col size="4">
                            <h4>{{'rating' | translate}}</h4>
                            <h5>
                                <ion-icon class="zmdi zmdi-star"></ion-icon> 3.2
                            </h5>
                        </ion-col>
                    </ion-row>
                </div>
                <div class="img_box end animate__animated animate__fadeInUp">
                    <img src="assets/images/Handyzone/provider_4.png">
                </div>
            </div>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp" (click)="provider_profile()">
            <div class="item_inner d-flex">
                <div class="text_box">
                    <div class="nameCategory">
                        <h2>Emili Anderson</h2>
                        <h3>Cleaner</h3>
                    </div>
                    <ion-row>
                        <ion-col size="4">
                            <h4>{{'jobs' | translate}}</h4>
                            <h5>187</h5>
                        </ion-col>
                        <ion-col size="4">
                            <h4>{{'rate' | translate}}</h4>
                            <h5>$12 <small>/ hr</small></h5>
                        </ion-col>

                        <ion-col size="4">
                            <h4>{{'rating' | translate}}</h4>
                            <h5>
                                <ion-icon class="zmdi zmdi-star"></ion-icon> 4.5
                            </h5>
                        </ion-col>
                    </ion-row>
                </div>
                <div class="img_box end animate__animated animate__fadeInUp">
                    <img src="assets/images/Handyzone/provider_1.png">
                </div>
            </div>
        </ion-item>

        <ion-item class="animate__animated animate__fadeInUp" (click)="provider_profile()">
            <div class="item_inner d-flex">
                <div class="text_box">
                    <div class="nameCategory">
                        <h2>Alisha Patel</h2>
                        <h3>Cleaner</h3>
                    </div>
                    <ion-row>
                        <ion-col size="4">
                            <h4>{{'jobs' | translate}}</h4>
                            <h5>112</h5>
                        </ion-col>
                        <ion-col size="4">
                            <h4>{{'rate' | translate}}</h4>
                            <h5>$10 <small>/ hr</small></h5>
                        </ion-col>

                        <ion-col size="4">
                            <h4>{{'rating' | translate}}</h4>
                            <h5>
                                <ion-icon class="zmdi zmdi-star"></ion-icon> 4.3
                            </h5>
                        </ion-col>
                    </ion-row>
                </div>
                <div class="img_box end animate__animated animate__fadeInUp">
                    <img src="assets/images/Handyzone/provider_3.png">
                </div>
            </div>
        </ion-item>

        <ion-item class="animate__animated animate__fadeInUp" (click)="provider_profile()">
            <div class="item_inner d-flex">
                <div class="text_box">
                    <div class="nameCategory">
                        <h2>Linda Haydon</h2>
                        <h3>Cleaner</h3>
                    </div>
                    <ion-row>
                        <ion-col size="4">
                            <h4>{{'jobs' | translate}}</h4>
                            <h5>226</h5>
                        </ion-col>
                        <ion-col size="4">
                            <h4>{{'rate' | translate}}</h4>
                            <h5>$9 <small>/ hr</small></h5>
                        </ion-col>

                        <ion-col size="4">
                            <h4>{{'rating' | translate}}</h4>
                            <h5>
                                <ion-icon class="zmdi zmdi-star"></ion-icon> 3.9
                            </h5>
                        </ion-col>
                    </ion-row>
                </div>
                <div class="img_box end animate__animated animate__fadeInUp">
                    <img src="assets/images/Handyzone/provider_2.png">
                </div>
            </div>
        </ion-item>


        <ion-item class="animate__animated animate__fadeInUp" (click)="provider_profile()">
            <div class="item_inner d-flex">
                <div class="text_box">
                    <div class="nameCategory">
                        <h2>Peter Johnson</h2>
                        <h3>Cleaner</h3>
                    </div>
                    <ion-row>
                        <ion-col size="4">
                            <h4>{{'jobs' | translate}}</h4>
                            <h5>199</h5>
                        </ion-col>
                        <ion-col size="4">
                            <h4>{{'rate' | translate}}</h4>
                            <h5>$12 <small>/ hr</small></h5>
                        </ion-col>

                        <ion-col size="4">
                            <h4>{{'rating' | translate}}</h4>
                            <h5>
                                <ion-icon class="zmdi zmdi-star"></ion-icon> 3.2
                            </h5>
                        </ion-col>
                    </ion-row>
                </div>
                <div class="img_box end animate__animated animate__fadeInUp">
                    <img src="assets/images/Handyzone/provider_4.png">
                </div>
            </div>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp" (click)="provider_profile()">
            <div class="item_inner d-flex">
                <div class="text_box">
                    <div class="nameCategory">
                        <h2>Emili Anderson</h2>
                        <h3>Cleaner</h3>
                    </div>
                    <ion-row>
                        <ion-col size="4">
                            <h4>{{'jobs' | translate}}</h4>
                            <h5>187</h5>
                        </ion-col>
                        <ion-col size="4">
                            <h4>{{'rate' | translate}}</h4>
                            <h5>$12 <small>/ hr</small></h5>
                        </ion-col>

                        <ion-col size="4">
                            <h4>{{'rating' | translate}}</h4>
                            <h5>
                                <ion-icon class="zmdi zmdi-star"></ion-icon> 4.5
                            </h5>
                        </ion-col>
                    </ion-row>
                </div>
                <div class="img_box end animate__animated animate__fadeInUp">
                    <img src="assets/images/Handyzone/provider_1.png">
                </div>
            </div>
        </ion-item>

        <ion-item class="animate__animated animate__fadeInUp" (click)="provider_profile()">
            <div class="item_inner d-flex">
                <div class="text_box">
                    <div class="nameCategory">
                        <h2>Alisha Patel</h2>
                        <h3>Cleaner</h3>
                    </div>
                    <ion-row>
                        <ion-col size="4">
                            <h4>{{'jobs' | translate}}</h4>
                            <h5>112</h5>
                        </ion-col>
                        <ion-col size="4">
                            <h4>{{'rate' | translate}}</h4>
                            <h5>$10 <small>/ hr</small></h5>
                        </ion-col>

                        <ion-col size="4">
                            <h4>{{'rating' | translate}}</h4>
                            <h5>
                                <ion-icon class="zmdi zmdi-star"></ion-icon> 4.3
                            </h5>
                        </ion-col>
                    </ion-row>
                </div>
                <div class="img_box end animate__animated animate__fadeInUp">
                    <img src="assets/images/Handyzone/provider_3.png">
                </div>
            </div>
        </ion-item>

        <ion-item class="animate__animated animate__fadeInUp" (click)="provider_profile()">
            <div class="item_inner d-flex">
                <div class="text_box">
                    <div class="nameCategory">
                        <h2>Linda Haydon</h2>
                        <h3>Cleaner</h3>
                    </div>
                    <ion-row>
                        <ion-col size="4">
                            <h4>{{'jobs' | translate}}</h4>
                            <h5>226</h5>
                        </ion-col>
                        <ion-col size="4">
                            <h4>{{'rate' | translate}}</h4>
                            <h5>$9 <small>/ hr</small></h5>
                        </ion-col>

                        <ion-col size="4">
                            <h4>{{'rating' | translate}}</h4>
                            <h5>
                                <ion-icon class="zmdi zmdi-star"></ion-icon> 3.9
                            </h5>
                        </ion-col>
                    </ion-row>
                </div>
                <div class="img_box end animate__animated animate__fadeInUp">
                    <img src="assets/images/Handyzone/provider_2.png">
                </div>
            </div>
        </ion-item>


        <ion-item class="animate__animated animate__fadeInUp" (click)="provider_profile()">
            <div class="item_inner d-flex">
                <div class="text_box">
                    <div class="nameCategory">
                        <h2>Peter Johnson</h2>
                        <h3>Cleaner</h3>
                    </div>
                    <ion-row>
                        <ion-col size="4">
                            <h4>{{'jobs' | translate}}</h4>
                            <h5>199</h5>
                        </ion-col>
                        <ion-col size="4">
                            <h4>{{'rate' | translate}}</h4>
                            <h5>$12 <small>/ hr</small></h5>
                        </ion-col>

                        <ion-col size="4">
                            <h4>{{'rating' | translate}}</h4>
                            <h5>
                                <ion-icon class="zmdi zmdi-star"></ion-icon> 3.2
                            </h5>
                        </ion-col>
                    </ion-row>
                </div>
                <div class="img_box end animate__animated animate__fadeInUp">
                    <img src="assets/images/Handyzone/provider_4.png">
                </div>
            </div>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp" (click)="provider_profile()">
            <div class="item_inner d-flex">
                <div class="text_box">
                    <div class="nameCategory">
                        <h2>Emili Anderson</h2>
                        <h3>Cleaner</h3>
                    </div>
                    <ion-row>
                        <ion-col size="4">
                            <h4>{{'jobs' | translate}}</h4>
                            <h5>187</h5>
                        </ion-col>
                        <ion-col size="4">
                            <h4>{{'rate' | translate}}</h4>
                            <h5>$12 <small>/ hr</small></h5>
                        </ion-col>

                        <ion-col size="4">
                            <h4>{{'rating' | translate}}</h4>
                            <h5>
                                <ion-icon class="zmdi zmdi-star"></ion-icon> 4.5
                            </h5>
                        </ion-col>
                    </ion-row>
                </div>
                <div class="img_box end animate__animated animate__fadeInUp">
                    <img src="assets/images/Handyzone/provider_1.png">
                </div>
            </div>
        </ion-item>

        <ion-item class="animate__animated animate__fadeInUp" (click)="provider_profile()">
            <div class="item_inner d-flex">
                <div class="text_box">
                    <div class="nameCategory">
                        <h2>Alisha Patel</h2>
                        <h3>Cleaner</h3>
                    </div>
                    <ion-row>
                        <ion-col size="4">
                            <h4>{{'jobs' | translate}}</h4>
                            <h5>112</h5>
                        </ion-col>
                        <ion-col size="4">
                            <h4>{{'rate' | translate}}</h4>
                            <h5>$10 <small>/ hr</small></h5>
                        </ion-col>

                        <ion-col size="4">
                            <h4>{{'rating' | translate}}</h4>
                            <h5>
                                <ion-icon class="zmdi zmdi-star"></ion-icon> 4.3
                            </h5>
                        </ion-col>
                    </ion-row>
                </div>
                <div class="img_box end animate__animated animate__fadeInUp">
                    <img src="assets/images/Handyzone/provider_3.png">
                </div>
            </div>
        </ion-item>

        <ion-item class="animate__animated animate__fadeInUp" (click)="provider_profile()">
            <div class="item_inner d-flex">
                <div class="text_box">
                    <div class="nameCategory">
                        <h2>Linda Haydon</h2>
                        <h3>Cleaner</h3>
                    </div>
                    <ion-row>
                        <ion-col size="4">
                            <h4>{{'jobs' | translate}}</h4>
                            <h5>226</h5>
                        </ion-col>
                        <ion-col size="4">
                            <h4>{{'rate' | translate}}</h4>
                            <h5>$9 <small>/ hr</small></h5>
                        </ion-col>

                        <ion-col size="4">
                            <h4>{{'rating' | translate}}</h4>
                            <h5>
                                <ion-icon class="zmdi zmdi-star"></ion-icon> 3.9
                            </h5>
                        </ion-col>
                    </ion-row>
                </div>
                <div class="img_box end animate__animated animate__fadeInUp">
                    <img src="assets/images/Handyzone/provider_2.png">
                </div>
            </div>
        </ion-item>


        <ion-item class="animate__animated animate__fadeInUp" (click)="provider_profile()">
            <div class="item_inner d-flex">
                <div class="text_box">
                    <div class="nameCategory">
                        <h2>Peter Johnson</h2>
                        <h3>Cleaner</h3>
                    </div>
                    <ion-row>
                        <ion-col size="4">
                            <h4>{{'jobs' | translate}}</h4>
                            <h5>199</h5>
                        </ion-col>
                        <ion-col size="4">
                            <h4>{{'rate' | translate}}</h4>
                            <h5>$12 <small>/ hr</small></h5>
                        </ion-col>

                        <ion-col size="4">
                            <h4>{{'rating' | translate}}</h4>
                            <h5>
                                <ion-icon class="zmdi zmdi-star"></ion-icon> 3.2
                            </h5>
                        </ion-col>
                    </ion-row>
                </div>
                <div class="img_box end animate__animated animate__fadeInUp">
                    <img src="assets/images/Handyzone/provider_4.png">
                </div>
            </div>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp" (click)="provider_profile()">
            <div class="item_inner d-flex">
                <div class="text_box">
                    <div class="nameCategory">
                        <h2>Emili Anderson</h2>
                        <h3>Cleaner</h3>
                    </div>
                    <ion-row>
                        <ion-col size="4">
                            <h4>{{'jobs' | translate}}</h4>
                            <h5>187</h5>
                        </ion-col>
                        <ion-col size="4">
                            <h4>{{'rate' | translate}}</h4>
                            <h5>$12 <small>/ hr</small></h5>
                        </ion-col>

                        <ion-col size="4">
                            <h4>{{'rating' | translate}}</h4>
                            <h5>
                                <ion-icon class="zmdi zmdi-star"></ion-icon> 4.5
                            </h5>
                        </ion-col>
                    </ion-row>
                </div>
                <div class="img_box end animate__animated animate__fadeInUp">
                    <img src="assets/images/Handyzone/provider_1.png">
                </div>
            </div>
        </ion-item>

        <ion-item class="animate__animated animate__fadeInUp" (click)="provider_profile()">
            <div class="item_inner d-flex">
                <div class="text_box">
                    <div class="nameCategory">
                        <h2>Alisha Patel</h2>
                        <h3>Cleaner</h3>
                    </div>
                    <ion-row>
                        <ion-col size="4">
                            <h4>{{'jobs' | translate}}</h4>
                            <h5>112</h5>
                        </ion-col>
                        <ion-col size="4">
                            <h4>{{'rate' | translate}}</h4>
                            <h5>$10 <small>/ hr</small></h5>
                        </ion-col>

                        <ion-col size="4">
                            <h4>{{'rating' | translate}}</h4>
                            <h5>
                                <ion-icon class="zmdi zmdi-star"></ion-icon> 4.3
                            </h5>
                        </ion-col>
                    </ion-row>
                </div>
                <div class="img_box end animate__animated animate__fadeInUp">
                    <img src="assets/images/Handyzone/provider_3.png">
                </div>
            </div>
        </ion-item>

        <ion-item class="animate__animated animate__fadeInUp" (click)="provider_profile()">
            <div class="item_inner d-flex">
                <div class="text_box">
                    <div class="nameCategory">
                        <h2>Linda Haydon</h2>
                        <h3>Cleaner</h3>
                    </div>
                    <ion-row>
                        <ion-col size="4">
                            <h4>{{'jobs' | translate}}</h4>
                            <h5>226</h5>
                        </ion-col>
                        <ion-col size="4">
                            <h4>{{'rate' | translate}}</h4>
                            <h5>$9 <small>/ hr</small></h5>
                        </ion-col>

                        <ion-col size="4">
                            <h4>{{'rating' | translate}}</h4>
                            <h5>
                                <ion-icon class="zmdi zmdi-star"></ion-icon> 3.9
                            </h5>
                        </ion-col>
                    </ion-row>
                </div>
                <div class="img_box end animate__animated animate__fadeInUp">
                    <img src="assets/images/Handyzone/provider_2.png">
                </div>
            </div>
        </ion-item>


        <ion-item class="animate__animated animate__fadeInUp" (click)="provider_profile()">
            <div class="item_inner d-flex">
                <div class="text_box">
                    <div class="nameCategory">
                        <h2>Peter Johnson</h2>
                        <h3>Cleaner</h3>
                    </div>
                    <ion-row>
                        <ion-col size="4">
                            <h4>{{'jobs' | translate}}</h4>
                            <h5>199</h5>
                        </ion-col>
                        <ion-col size="4">
                            <h4>{{'rate' | translate}}</h4>
                            <h5>$12 <small>/ hr</small></h5>
                        </ion-col>

                        <ion-col size="4">
                            <h4>{{'rating' | translate}}</h4>
                            <h5>
                                <ion-icon class="zmdi zmdi-star"></ion-icon> 3.2
                            </h5>
                        </ion-col>
                    </ion-row>
                </div>
                <div class="img_box end animate__animated animate__fadeInUp">
                    <img src="assets/images/Handyzone/provider_4.png">
                </div>
            </div>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp" (click)="provider_profile()">
            <div class="item_inner d-flex">
                <div class="text_box">
                    <div class="nameCategory">
                        <h2>Emili Anderson</h2>
                        <h3>Cleaner</h3>
                    </div>
                    <ion-row>
                        <ion-col size="4">
                            <h4>{{'jobs' | translate}}</h4>
                            <h5>187</h5>
                        </ion-col>
                        <ion-col size="4">
                            <h4>{{'rate' | translate}}</h4>
                            <h5>$12 <small>/ hr</small></h5>
                        </ion-col>

                        <ion-col size="4">
                            <h4>{{'rating' | translate}}</h4>
                            <h5>
                                <ion-icon class="zmdi zmdi-star"></ion-icon> 4.5
                            </h5>
                        </ion-col>
                    </ion-row>
                </div>
                <div class="img_box end animate__animated animate__fadeInUp">
                    <img src="assets/images/Handyzone/provider_1.png">
                </div>
            </div>
        </ion-item>

        <ion-item class="animate__animated animate__fadeInUp" (click)="provider_profile()">
            <div class="item_inner d-flex">
                <div class="text_box">
                    <div class="nameCategory">
                        <h2>Alisha Patel</h2>
                        <h3>Cleaner</h3>
                    </div>
                    <ion-row>
                        <ion-col size="4">
                            <h4>{{'jobs' | translate}}</h4>
                            <h5>112</h5>
                        </ion-col>
                        <ion-col size="4">
                            <h4>{{'rate' | translate}}</h4>
                            <h5>$10 <small>/ hr</small></h5>
                        </ion-col>

                        <ion-col size="4">
                            <h4>{{'rating' | translate}}</h4>
                            <h5>
                                <ion-icon class="zmdi zmdi-star"></ion-icon> 4.3
                            </h5>
                        </ion-col>
                    </ion-row>
                </div>
                <div class="img_box end animate__animated animate__fadeInUp">
                    <img src="assets/images/Handyzone/provider_3.png">
                </div>
            </div>
        </ion-item>

        <ion-item class="animate__animated animate__fadeInUp" (click)="provider_profile()">
            <div class="item_inner d-flex">
                <div class="text_box">
                    <div class="nameCategory">
                        <h2>Linda Haydon</h2>
                        <h3>Cleaner</h3>
                    </div>
                    <ion-row>
                        <ion-col size="4">
                            <h4>{{'jobs' | translate}}</h4>
                            <h5>226</h5>
                        </ion-col>
                        <ion-col size="4">
                            <h4>{{'rate' | translate}}</h4>
                            <h5>$9 <small>/ hr</small></h5>
                        </ion-col>

                        <ion-col size="4">
                            <h4>{{'rating' | translate}}</h4>
                            <h5>
                                <ion-icon class="zmdi zmdi-star"></ion-icon> 3.9
                            </h5>
                        </ion-col>
                    </ion-row>
                </div>
                <div class="img_box end animate__animated animate__fadeInUp">
                    <img src="assets/images/Handyzone/provider_2.png">
                </div>
            </div>
        </ion-item>


        <ion-item class="animate__animated animate__fadeInUp" (click)="provider_profile()">
            <div class="item_inner d-flex">
                <div class="text_box">
                    <div class="nameCategory">
                        <h2>Peter Johnson</h2>
                        <h3>Cleaner</h3>
                    </div>
                    <ion-row>
                        <ion-col size="4">
                            <h4>{{'jobs' | translate}}</h4>
                            <h5>199</h5>
                        </ion-col>
                        <ion-col size="4">
                            <h4>{{'rate' | translate}}</h4>
                            <h5>$12 <small>/ hr</small></h5>
                        </ion-col>

                        <ion-col size="4">
                            <h4>{{'rating' | translate}}</h4>
                            <h5>
                                <ion-icon class="zmdi zmdi-star"></ion-icon> 3.2
                            </h5>
                        </ion-col>
                    </ion-row>
                </div>
                <div class="img_box end animate__animated animate__fadeInUp">
                    <img src="assets/images/Handyzone/provider_4.png">
                </div>
            </div>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp" (click)="provider_profile()">
            <div class="item_inner d-flex">
                <div class="text_box">
                    <div class="nameCategory">
                        <h2>Emili Anderson</h2>
                        <h3>Cleaner</h3>
                    </div>
                    <ion-row>
                        <ion-col size="4">
                            <h4>{{'jobs' | translate}}</h4>
                            <h5>187</h5>
                        </ion-col>
                        <ion-col size="4">
                            <h4>{{'rate' | translate}}</h4>
                            <h5>$12 <small>/ hr</small></h5>
                        </ion-col>

                        <ion-col size="4">
                            <h4>{{'rating' | translate}}</h4>
                            <h5>
                                <ion-icon class="zmdi zmdi-star"></ion-icon> 4.5
                            </h5>
                        </ion-col>
                    </ion-row>
                </div>
                <div class="img_box end animate__animated animate__fadeInUp">
                    <img src="assets/images/Handyzone/provider_1.png">
                </div>
            </div>
        </ion-item>

        <ion-item class="animate__animated animate__fadeInUp" (click)="provider_profile()">
            <div class="item_inner d-flex">
                <div class="text_box">
                    <div class="nameCategory">
                        <h2>Alisha Patel</h2>
                        <h3>Cleaner</h3>
                    </div>
                    <ion-row>
                        <ion-col size="4">
                            <h4>{{'jobs' | translate}}</h4>
                            <h5>112</h5>
                        </ion-col>
                        <ion-col size="4">
                            <h4>{{'rate' | translate}}</h4>
                            <h5>$10 <small>/ hr</small></h5>
                        </ion-col>

                        <ion-col size="4">
                            <h4>{{'rating' | translate}}</h4>
                            <h5>
                                <ion-icon class="zmdi zmdi-star"></ion-icon> 4.3
                            </h5>
                        </ion-col>
                    </ion-row>
                </div>
                <div class="img_box end animate__animated animate__fadeInUp">
                    <img src="assets/images/Handyzone/provider_3.png">
                </div>
            </div>
        </ion-item>

        <ion-item class="animate__animated animate__fadeInUp" (click)="provider_profile()">
            <div class="item_inner d-flex">
                <div class="text_box">
                    <div class="nameCategory">
                        <h2>Linda Haydon</h2>
                        <h3>Cleaner</h3>
                    </div>
                    <ion-row>
                        <ion-col size="4">
                            <h4>{{'jobs' | translate}}</h4>
                            <h5>226</h5>
                        </ion-col>
                        <ion-col size="4">
                            <h4>{{'rate' | translate}}</h4>
                            <h5>$9 <small>/ hr</small></h5>
                        </ion-col>

                        <ion-col size="4">
                            <h4>{{'rating' | translate}}</h4>
                            <h5>
                                <ion-icon class="zmdi zmdi-star"></ion-icon> 3.9
                            </h5>
                        </ion-col>
                    </ion-row>
                </div>
                <div class="img_box end animate__animated animate__fadeInUp">
                    <img src="assets/images/Handyzone/provider_2.png">
                </div>
            </div>
        </ion-item>


        <ion-item class="animate__animated animate__fadeInUp" (click)="provider_profile()">
            <div class="item_inner d-flex">
                <div class="text_box">
                    <div class="nameCategory">
                        <h2>Peter Johnson</h2>
                        <h3>Cleaner</h3>
                    </div>
                    <ion-row>
                        <ion-col size="4">
                            <h4>{{'jobs' | translate}}</h4>
                            <h5>199</h5>
                        </ion-col>
                        <ion-col size="4">
                            <h4>{{'rate' | translate}}</h4>
                            <h5>$12 <small>/ hr</small></h5>
                        </ion-col>

                        <ion-col size="4">
                            <h4>{{'rating' | translate}}</h4>
                            <h5>
                                <ion-icon class="zmdi zmdi-star"></ion-icon> 3.2
                            </h5>
                        </ion-col>
                    </ion-row>
                </div>
                <div class="img_box end animate__animated animate__fadeInUp">
                    <img src="assets/images/Handyzone/provider_4.png">
                </div>
            </div>
        </ion-item>
        <ion-item class="animate__animated animate__fadeInUp" (click)="provider_profile()">
            <div class="item_inner d-flex">
                <div class="text_box">
                    <div class="nameCategory">
                        <h2>Emili Anderson</h2>
                        <h3>Cleaner</h3>
                    </div>
                    <ion-row>
                        <ion-col size="4">
                            <h4>{{'jobs' | translate}}</h4>
                            <h5>187</h5>
                        </ion-col>
                        <ion-col size="4">
                            <h4>{{'rate' | translate}}</h4>
                            <h5>$12 <small>/ hr</small></h5>
                        </ion-col>

                        <ion-col size="4">
                            <h4>{{'rating' | translate}}</h4>
                            <h5>
                                <ion-icon class="zmdi zmdi-star"></ion-icon> 4.5
                            </h5>
                        </ion-col>
                    </ion-row>
                </div>
                <div class="img_box end animate__animated animate__fadeInUp">
                    <img src="assets/images/Handyzone/provider_1.png">
                </div>
            </div>
        </ion-item>

        <ion-item class="animate__animated animate__fadeInUp" (click)="provider_profile()">
            <div class="item_inner d-flex">
                <div class="text_box">
                    <div class="nameCategory">
                        <h2>Alisha Patel</h2>
                        <h3>Cleaner</h3>
                    </div>
                    <ion-row>
                        <ion-col size="4">
                            <h4>{{'jobs' | translate}}</h4>
                            <h5>112</h5>
                        </ion-col>
                        <ion-col size="4">
                            <h4>{{'rate' | translate}}</h4>
                            <h5>$10 <small>/ hr</small></h5>
                        </ion-col>

                        <ion-col size="4">
                            <h4>{{'rating' | translate}}</h4>
                            <h5>
                                <ion-icon class="zmdi zmdi-star"></ion-icon> 4.3
                            </h5>
                        </ion-col>
                    </ion-row>
                </div>
                <div class="img_box end animate__animated animate__fadeInUp">
                    <img src="assets/images/Handyzone/provider_3.png">
                </div>
            </div>
        </ion-item>

        <ion-item class="animate__animated animate__fadeInUp" (click)="provider_profile()">
            <div class="item_inner d-flex">
                <div class="text_box">
                    <div class="nameCategory">
                        <h2>Linda Haydon</h2>
                        <h3>Cleaner</h3>
                    </div>
                    <ion-row>
                        <ion-col size="4">
                            <h4>{{'jobs' | translate}}</h4>
                            <h5>226</h5>
                        </ion-col>
                        <ion-col size="4">
                            <h4>{{'rate' | translate}}</h4>
                            <h5>$9 <small>/ hr</small></h5>
                        </ion-col>

                        <ion-col size="4">
                            <h4>{{'rating' | translate}}</h4>
                            <h5>
                                <ion-icon class="zmdi zmdi-star"></ion-icon> 3.9
                            </h5>
                        </ion-col>
                    </ion-row>
                </div>
                <div class="img_box end animate__animated animate__fadeInUp">
                    <img src="assets/images/Handyzone/provider_2.png">
                </div>
            </div>
        </ion-item>


        <ion-item class="animate__animated animate__fadeInUp" (click)="provider_profile()">
            <div class="item_inner d-flex">
                <div class="text_box">
                    <div class="nameCategory">
                        <h2>Peter Johnson</h2>
                        <h3>Cleaner</h3>
                    </div>
                    <ion-row>
                        <ion-col size="4">
                            <h4>{{'jobs' | translate}}</h4>
                            <h5>199</h5>
                        </ion-col>
                        <ion-col size="4">
                            <h4>{{'rate' | translate}}</h4>
                            <h5>$12 <small>/ hr</small></h5>
                        </ion-col>

                        <ion-col size="4">
                            <h4>{{'rating' | translate}}</h4>
                            <h5>
                                <ion-icon class="zmdi zmdi-star"></ion-icon> 3.2
                            </h5>
                        </ion-col>
                    </ion-row>
                </div>
                <div class="img_box end animate__animated animate__fadeInUp">
                    <img src="assets/images/Handyzone/provider_4.png">
                </div>
            </div>
        </ion-item>
    </ion-list>
</ion-content>



<!--<Sort & filter  section start> -->

<div [ngClass]="viewType == 'active' ? 'filter d-flex active':'filter d-flex'">
    <div class="filter-inner end">
        <div class="filter_header">
            <h2 class="d-flex">{{'sort_filters' | translate}} <span class="end">{{'reset' | translate}}</span></h2>
        </div>

        <ion-list lines="none">
            <ion-card>
                <h2>{{'sort_by' | translate}}</h2>
                <ion-radio-group>
                    <ion-item>
                        <div class="item_inner d-flex">
                            <ion-radio value="jobs"></ion-radio>
                            <h3>{{'jobs' | translate}}</h3>
                        </div>
                    </ion-item>

                    <ion-item>
                        <div class="item_inner d-flex">
                            <ion-radio value="rate"></ion-radio>
                            <h3>{{'rate' | translate}}</h3>
                        </div>
                    </ion-item>

                    <ion-item>
                        <div class="item_inner d-flex">
                            <ion-radio value="ratings"></ion-radio>
                            <h3>{{'ratings' | translate}}</h3>
                        </div>
                    </ion-item>
                </ion-radio-group>
            </ion-card>

            <ion-card class="price_range">
                <h2>{{'price_range' | translate}}</h2>
                <ion-item>
                    <div class="item_inner">
                        <h3 class="d-flex">$40 <span class="end">$100</span></h3>
                        <ion-range mode="md" min="-200" max="200"> </ion-range>
                    </div>
                </ion-item>
            </ion-card>

            <ion-card>
                <h2>{{'gender' | translate}}</h2>
                <ion-radio-group>
                    <ion-item>
                        <div class="item_inner d-flex">
                            <ion-radio value="male"></ion-radio>
                            <h3>{{'male' | translate}}</h3>
                        </div>
                    </ion-item>

                    <ion-item>
                        <div class="item_inner d-flex">
                            <ion-radio value="female"></ion-radio>
                            <h3>{{'female' | translate}}</h3>
                        </div>
                    </ion-item>

                    <ion-item>
                        <div class="item_inner d-flex">
                            <ion-radio value="any"></ion-radio>
                            <h3>{{'any' | translate}}</h3>
                        </div>
                    </ion-item>
                </ion-radio-group>
            </ion-card>
        </ion-list>

        <div class="filter_footer">
            <ion-button size="large" class="btn" expand="round" (click)="setViewType(null)">{{'apply' | translate}}</ion-button>
        </div>
    </div>
</div>

<!--<Filter section enter> -->