<ion-tabs>
    <ion-tab-bar slot="bottom" class="animate__animated animate__fadeInUp">
        <ion-tab-button tab="clipixHome">
            <div class="img_box">
                <img src="assets/images/Clipix/ic_home.png" class="before">
                <img src="assets/images/Clipix/ic_home_act.png" class="after">
            </div>
        </ion-tab-button>

        <ion-tab-button tab="clipixSearch">
            <div class="img_box">
                <img src="assets/images/Clipix/ic_search.png" class="before">
                <img src="assets/images/Clipix/ic_search_act.png" class="after">
            </div>
        </ion-tab-button>

        <ion-tab-button tab="clipixWatchlist">
            <div class="img_box">
                <img src="assets/images/Clipix/ic_playlist.png" class="before">
                <img src="assets/images/Clipix/ic_playlist_act.png" class="after">
            </div>
        </ion-tab-button>
        <ion-tab-button tab="clipixAccount">
            <div class="img_box">
                <img src="assets/images/Clipix/ic_account.png" class="before">
                <img src="assets/images/Clipix/ic_account_act.png" class="after">
            </div>
        </ion-tab-button>
    </ion-tab-bar>

</ion-tabs>