<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title></ion-title>
    </ion-toolbar>

    <div class="banner">
        <div class="banner_img">
            <img src="assets/images/banner_img.png">
        </div>
        <div class="banner_text">
            <h2>Opus Labs UI Kit</h2>
            <p>All at one plase ready to copy paste codes</p>
        </div>
    </div>
</ion-header>

<ion-content fullscreen>
    <ion-list lines="none">
        <ion-item (click)="doctoworld()">
            <div class="item_inner">
                <div class="img_box">
                    <img src="assets/images/app_category/doctor_Pharmacy.png">
                </div>
                <div class="text_box">
                    <h2 class="d-flex">Doctor & Pharmacy
                        <ion-icon class="zmdi zmdi-chevron-right ion-text-end end"></ion-icon>
                    </h2>
                    <p>App related to doctors, pharmacies, hospitals, and more</p>
                </div>
            </div>
        </ion-item>

        <ion-item (click)="clipix()">
            <div class="item_inner">
                <div class="img_box">
                    <img src="assets/images/app_category/OTT_ Music.png">
                </div>
                <div class="text_box">
                    <h2 class="d-flex">OTT & Music
                        <ion-icon class="zmdi zmdi-chevron-right ion-text-end end"></ion-icon>
                    </h2>
                    <p>App related to OTT, music streaming app, web series and more</p>
                </div>
            </div>
        </ion-item>
        <ion-item (click)="gopool()">
            <div class="item_inner">
                <div class="img_box">
                    <img src="assets/images/app_category/Cab_booking.png">
                </div>
                <div class="text_box">
                    <h2 class="d-flex">Car Pooling
                        <ion-icon class="zmdi zmdi-chevron-right ion-text-end end"></ion-icon>
                    </h2>
                    <p>App related to carpooling, a car rides and car-sharing, and more</p>
                </div>
            </div>
        </ion-item>

        <ion-item (click)="gropot()">
            <div class="item_inner">
                <div class="img_box">
                    <img src="assets/images/app_category/Grocery.png">
                </div>
                <div class="text_box">
                    <h2 class="d-flex">Grocery
                        <ion-icon class="zmdi zmdi-chevron-right ion-text-end end"></ion-icon>
                    </h2>
                    <p>App related to online grocery store, app for grocery shopping online & tracking</p>
                </div>
            </div>
        </ion-item>

        <ion-item (click)="shophour()">
            <div class="item_inner">
                <div class="img_box">
                    <img src="assets/images/app_category/ecommerce.png">
                </div>
                <div class="text_box">
                    <h2 class="d-flex">eCommerce
                        <ion-icon class="zmdi zmdi-chevron-right ion-text-end end"></ion-icon>
                    </h2>
                    <p>App related to online shopping, order tracking eCommerce app and more</p>
                </div>
            </div>
        </ion-item>

        <ion-item (click)="hungerzHome()">
            <div class="item_inner">
                <div class="img_box">
                    <img src="assets/images/app_category/food_restaurant.png">
                </div>
                <div class="text_box">
                    <h2 class="d-flex">Food & Restaurant
                        <ion-icon class="zmdi zmdi-chevron-right ion-text-end end"></ion-icon>
                    </h2>
                    <p>App related to food ordering, delivery and more</p>
                </div>
            </div>
        </ion-item>

        <ion-item (click)="handyzone()">
            <div class="item_inner">
                <div class="img_box">
                    <img src="assets/images/app_category/Service.png">
                </div>
                <div class="text_box">
                    <h2 class="d-flex">Service Provider
                        <ion-icon class="zmdi zmdi-chevron-right ion-text-end end"></ion-icon>
                    </h2>
                    <p>App related to service provider, service finder, appointment booking and mor</p>
                </div>
            </div>
        </ion-item>

        <ion-item (click)="qvid()">
            <div class="item_inner">
                <div class="img_box">
                    <img src="assets/images/app_category/social_chatting.png">
                </div>
                <div class="text_box">
                    <h2 class="d-flex">Short Video Creating
                        <ion-icon class="zmdi zmdi-chevron-right ion-text-end end"></ion-icon>
                    </h2>
                    <p>App related to chaating social sharing and more.</p>
                </div>
            </div>
        </ion-item>

        <ion-item (click)="woochat()">
            <div class="item_inner">
                <div class="img_box">
                    <img src="assets/images/app_category/social_chatting.png">
                </div>
                <div class="text_box">
                    <h2 class="d-flex">Chatting & Calling
                        <ion-icon class="zmdi zmdi-chevron-right ion-text-end end"></ion-icon>
                    </h2>
                    <p>App related to chaating, group chatting, voice/video calling and more.</p>
                </div>
            </div>
        </ion-item>
    </ion-list>
</ion-content>