<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="" icon="arrow-back-outline"></ion-back-button>
        </ion-buttons>
        <ion-title> </ion-title>
    </ion-toolbar>

    <div class="banner">
        <h2>{{'slider' | translate}} <br> {{'demo' | translate}}</h2>
        <ion-icon class="zmdi zmdi-swap"></ion-icon>
        <div class="img_box">
            <img src="assets/images/header-images/slider_screen.png">
        </div>
    </div>
</ion-header>

<ion-content fullscreen>
    <div class="slider1">
        <div class="scroll-x">
            <div class="scroll-item animate__animated animate__fadeInUp">
                <ion-slides pager="true">
                    <ion-slide>
                        <div class="img_box center_img">
                            <img src="assets/images/slider_img/slider1/img2.png" class="crop_img">
                        </div>
                    </ion-slide>
                    <ion-slide>
                        <div class="img_box center_img">
                            <img src="assets/images/slider_img/slider1/img5.png" class="crop_img">
                        </div>
                    </ion-slide>
                    <ion-slide>
                        <div class="img_box center_img">
                            <img src="assets/images/slider_img/slider1/img3.png" class="crop_img">
                        </div>
                    </ion-slide>
                    <ion-slide>
                        <div class="img_box center_img">
                            <img src="assets/images/slider_img/slider1/img4.png" class="crop_img">
                        </div>
                    </ion-slide>
                </ion-slides>
                <div class="text_box">
                    <h2>Rainbow Row House</h2>
                    <h3 class="d-flex">
                        <ion-icon class="zmdi zmdi-pin ion-text-start"></ion-icon>
                        <span> A 46th St. Parkston, New York</span>
                    </h3>
                    <div class="d-flex">
                        <h5>$1490.00</h5>
                        <h4 class="end">
                            <span class="">
                                <img src="assets/images/slider_img/slider1/ic_bed.png">&nbsp;03
                            </span>
                            <span class="">
                               <img src="assets/images/slider_img/slider1/ic_bathroom.png">&nbsp;02
                            </span>
                        </h4>
                    </div>
                </div>
            </div>

            <div class="scroll-item animate__animated animate__fadeInUp">
                <ion-slides pager="true">
                    <ion-slide>
                        <div class="img_box center_img">
                            <img src="assets/images/slider_img/slider1/img4.png" class="crop_img">
                        </div>
                    </ion-slide>
                    <ion-slide>
                        <div class="img_box center_img">
                            <img src="assets/images/slider_img/slider1/img2.png" class="crop_img">
                        </div>
                    </ion-slide>
                    <ion-slide>
                        <div class="img_box center_img">
                            <img src="assets/images/slider_img/slider1/img5.png" class="crop_img">
                        </div>
                    </ion-slide>
                    <ion-slide>
                        <div class="img_box center_img">
                            <img src="assets/images/slider_img/slider1/img3.png" class="crop_img">
                        </div>
                    </ion-slide>

                </ion-slides>
                <div class="text_box">
                    <h2>Hill view Studio Apartment</h2>
                    <h3 class="d-flex">
                        <ion-icon class="zmdi zmdi-pin ion-text-start"></ion-icon>
                        <span> A 46th St. Parkston, New York</span>
                    </h3>
                    <div class="d-flex">
                        <h5>$1490.00</h5>
                        <h4 class="end">
                            <span class="">
                                <img src="assets/images/slider_img/slider1/ic_bed.png">&nbsp;03
                            </span>
                            <span class="">
                               <img src="assets/images/slider_img/slider1/ic_bathroom.png">&nbsp;02
                            </span>
                        </h4>
                    </div>
                </div>
            </div>

            <div class="scroll-item animate__animated animate__fadeInUp">
                <ion-slides pager="true">
                    <ion-slide>
                        <div class="img_box center_img">
                            <img src="assets/images/slider_img/slider1/img3.png" class="crop_img">
                        </div>
                    </ion-slide>
                    <ion-slide>
                        <div class="img_box center_img">
                            <img src="assets/images/slider_img/slider1/img2.png" class="crop_img">
                        </div>
                    </ion-slide>
                    <ion-slide>
                        <div class="img_box center_img">
                            <img src="assets/images/slider_img/slider1/img4.png" class="crop_img">
                        </div>
                    </ion-slide>

                    <ion-slide>
                        <div class="img_box center_img">
                            <img src="assets/images/slider_img/slider1/img5.png" class="crop_img">
                        </div>
                    </ion-slide>

                </ion-slides>
                <div class="text_box">
                    <h2>Lenova Condo</h2>
                    <h3 class="d-flex">
                        <ion-icon class="zmdi zmdi-pin ion-text-start"></ion-icon>
                        <span> A 46th St. Parkston, New York</span>
                    </h3>
                    <div class="d-flex">
                        <h5>$1490.00</h5>
                        <h4 class="end">
                            <span class="">
                                <img src="assets/images/slider_img/slider1/ic_bed.png">&nbsp;03
                            </span>
                            <span class="">
                               <img src="assets/images/slider_img/slider1/ic_bathroom.png">&nbsp;02
                            </span>
                        </h4>
                    </div>
                </div>
            </div>

            <div class="scroll-item animate__animated animate__fadeInUp">
                <ion-slides pager="true">
                    <ion-slide>
                        <div class="img_box center_img">
                            <img src="assets/images/slider_img/slider1/img2.png" class="crop_img">
                        </div>
                    </ion-slide>
                    <ion-slide>
                        <div class="img_box center_img">
                            <img src="assets/images/slider_img/slider1/img5.png" class="crop_img">
                        </div>
                    </ion-slide>
                    <ion-slide>
                        <div class="img_box center_img">
                            <img src="assets/images/slider_img/slider1/img3.png" class="crop_img">
                        </div>
                    </ion-slide>
                    <ion-slide>
                        <div class="img_box center_img">
                            <img src="assets/images/slider_img/slider1/img4.png" class="crop_img">
                        </div>
                    </ion-slide>
                </ion-slides>
                <div class="text_box">
                    <h2>Rainbow Row House</h2>
                    <h3 class="d-flex">
                        <ion-icon class="zmdi zmdi-pin ion-text-start"></ion-icon>
                        <span> A 46th St. Parkston, New York</span>
                    </h3>
                    <div class="d-flex">
                        <h5>$1490.00</h5>
                        <h4 class="end">
                            <span class="">
                                <img src="assets/images/slider_img/slider1/ic_bed.png">&nbsp;03
                            </span>
                            <span class="">
                               <img src="assets/images/slider_img/slider1/ic_bathroom.png">&nbsp;02
                            </span>
                        </h4>
                    </div>
                </div>
            </div>

            <div class="scroll-item animate__animated animate__fadeInUp">
                <ion-slides pager="true">
                    <ion-slide>
                        <div class="img_box center_img">
                            <img src="assets/images/slider_img/slider1/img4.png" class="crop_img">
                        </div>
                    </ion-slide>
                    <ion-slide>
                        <div class="img_box center_img">
                            <img src="assets/images/slider_img/slider1/img2.png" class="crop_img">
                        </div>
                    </ion-slide>
                    <ion-slide>
                        <div class="img_box center_img">
                            <img src="assets/images/slider_img/slider1/img5.png" class="crop_img">
                        </div>
                    </ion-slide>
                    <ion-slide>
                        <div class="img_box center_img">
                            <img src="assets/images/slider_img/slider1/img3.png" class="crop_img">
                        </div>
                    </ion-slide>

                </ion-slides>
                <div class="text_box">
                    <h2>Hill view Studio Apartment</h2>
                    <h3 class="d-flex">
                        <ion-icon class="zmdi zmdi-pin ion-text-start"></ion-icon>
                        <span> A 46th St. Parkston, New York</span>
                    </h3>
                    <div class="d-flex">
                        <h5>$1490.00</h5>
                        <h4 class="end">
                            <span class="">
                                <img src="assets/images/slider_img/slider1/ic_bed.png">&nbsp;03
                            </span>
                            <span class="">
                               <img src="assets/images/slider_img/slider1/ic_bathroom.png">&nbsp;02
                            </span>
                        </h4>
                    </div>
                </div>
            </div>

            <div class="scroll-item animate__animated animate__fadeInUp">
                <ion-slides pager="true">
                    <ion-slide>
                        <div class="img_box center_img">
                            <img src="assets/images/slider_img/slider1/img3.png" class="crop_img">
                        </div>
                    </ion-slide>
                    <ion-slide>
                        <div class="img_box center_img">
                            <img src="assets/images/slider_img/slider1/img2.png" class="crop_img">
                        </div>
                    </ion-slide>
                    <ion-slide>
                        <div class="img_box center_img">
                            <img src="assets/images/slider_img/slider1/img4.png" class="crop_img">
                        </div>
                    </ion-slide>

                    <ion-slide>
                        <div class="img_box center_img">
                            <img src="assets/images/slider_img/slider1/img5.png" class="crop_img">
                        </div>
                    </ion-slide>

                </ion-slides>
                <div class="text_box">
                    <h2>Lenova Condo</h2>
                    <h3 class="d-flex">
                        <ion-icon class="zmdi zmdi-pin ion-text-start"></ion-icon>
                        <span> A 46th St. Parkston, New York</span>
                    </h3>
                    <div class="d-flex">
                        <h5>$1490.00</h5>
                        <h4 class="end">
                            <span class="">
                                <img src="assets/images/slider_img/slider1/ic_bed.png">&nbsp;03
                            </span>
                            <span class="">
                               <img src="assets/images/slider_img/slider1/ic_bathroom.png">&nbsp;02
                            </span>
                        </h4>
                    </div>
                </div>
            </div>

            <div class="scroll-item animate__animated animate__fadeInUp">
                <ion-slides pager="true">
                    <ion-slide>
                        <div class="img_box center_img">
                            <img src="assets/images/slider_img/slider1/img2.png" class="crop_img">
                        </div>
                    </ion-slide>
                    <ion-slide>
                        <div class="img_box center_img">
                            <img src="assets/images/slider_img/slider1/img5.png" class="crop_img">
                        </div>
                    </ion-slide>
                    <ion-slide>
                        <div class="img_box center_img">
                            <img src="assets/images/slider_img/slider1/img3.png" class="crop_img">
                        </div>
                    </ion-slide>
                    <ion-slide>
                        <div class="img_box center_img">
                            <img src="assets/images/slider_img/slider1/img4.png" class="crop_img">
                        </div>
                    </ion-slide>
                </ion-slides>
                <div class="text_box">
                    <h2>Rainbow Row House</h2>
                    <h3 class="d-flex">
                        <ion-icon class="zmdi zmdi-pin ion-text-start"></ion-icon>
                        <span> A 46th St. Parkston, New York</span>
                    </h3>
                    <div class="d-flex">
                        <h5>$1490.00</h5>
                        <h4 class="end">
                            <span class="">
                                <img src="assets/images/slider_img/slider1/ic_bed.png">&nbsp;03
                            </span>
                            <span class="">
                               <img src="assets/images/slider_img/slider1/ic_bathroom.png">&nbsp;02
                            </span>
                        </h4>
                    </div>
                </div>
            </div>

            <div class="scroll-item animate__animated animate__fadeInUp">
                <ion-slides pager="true">
                    <ion-slide>
                        <div class="img_box center_img">
                            <img src="assets/images/slider_img/slider1/img4.png" class="crop_img">
                        </div>
                    </ion-slide>
                    <ion-slide>
                        <div class="img_box center_img">
                            <img src="assets/images/slider_img/slider1/img2.png" class="crop_img">
                        </div>
                    </ion-slide>
                    <ion-slide>
                        <div class="img_box center_img">
                            <img src="assets/images/slider_img/slider1/img5.png" class="crop_img">
                        </div>
                    </ion-slide>
                    <ion-slide>
                        <div class="img_box center_img">
                            <img src="assets/images/slider_img/slider1/img3.png" class="crop_img">
                        </div>
                    </ion-slide>

                </ion-slides>
                <div class="text_box">
                    <h2>Hill view Studio Apartment</h2>
                    <h3 class="d-flex">
                        <ion-icon class="zmdi zmdi-pin ion-text-start"></ion-icon>
                        <span> A 46th St. Parkston, New York</span>
                    </h3>
                    <div class="d-flex">
                        <h5>$1490.00</h5>
                        <h4 class="end">
                            <span class="">
                                <img src="assets/images/slider_img/slider1/ic_bed.png">&nbsp;03
                            </span>
                            <span class="">
                               <img src="assets/images/slider_img/slider1/ic_bathroom.png">&nbsp;02
                            </span>
                        </h4>
                    </div>
                </div>
            </div>

            <div class="scroll-item animate__animated animate__fadeInUp">
                <ion-slides pager="true">
                    <ion-slide>
                        <div class="img_box center_img">
                            <img src="assets/images/slider_img/slider1/img3.png" class="crop_img">
                        </div>
                    </ion-slide>
                    <ion-slide>
                        <div class="img_box center_img">
                            <img src="assets/images/slider_img/slider1/img2.png" class="crop_img">
                        </div>
                    </ion-slide>
                    <ion-slide>
                        <div class="img_box center_img">
                            <img src="assets/images/slider_img/slider1/img4.png" class="crop_img">
                        </div>
                    </ion-slide>

                    <ion-slide>
                        <div class="img_box center_img">
                            <img src="assets/images/slider_img/slider1/img5.png" class="crop_img">
                        </div>
                    </ion-slide>

                </ion-slides>
                <div class="text_box">
                    <h2>Lenova Condo</h2>
                    <h3 class="d-flex">
                        <ion-icon class="zmdi zmdi-pin ion-text-start"></ion-icon>
                        <span> A 46th St. Parkston, New York</span>
                    </h3>
                    <div class="d-flex">
                        <h5>$1490.00</h5>
                        <h4 class="end">
                            <span class="">
                                <img src="assets/images/slider_img/slider1/ic_bed.png">&nbsp;03
                            </span>
                            <span class="">
                               <img src="assets/images/slider_img/slider1/ic_bathroom.png">&nbsp;02
                            </span>
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="slider2">
        <div class="scroll-x">
            <div class="scroll-x-item animate__animated animate__zoomIn">
                <div class="banner_img center_img">
                    <img src="assets/images/slider_img/slider2/banner1.jpg" class="crop_img">
                </div>
                <div class="banner_text">
                    <h2>Pole Huges</h2>
                    <h3>Everything about <br> Protecting <br> Nature</h3>
                </div>
            </div>
            <div class="scroll-x-item animate__animated animate__zoomIn">
                <div class="banner_img center_img">
                    <img src="assets/images/slider_img/slider2/banner2.jpg" class="crop_img">
                </div>
                <div class="banner_text">
                    <h2>Pole Huges</h2>
                    <h3>Everything about <br> Protecting <br> Nature</h3>
                </div>
            </div>
            <div class="scroll-x-item animate__animated animate__zoomIn">
                <div class="banner_img center_img">
                    <img src="assets/images/slider_img/slider2/banner1.jpg" class="crop_img">
                </div>
                <div class="banner_text">
                    <h2>Pole Huges</h2>
                    <h3>Everything about <br> Protecting <br> Nature</h3>
                </div>
            </div>
            <div class="scroll-x-item animate__animated animate__zoomIn">
                <div class="banner_img center_img">
                    <img src="assets/images/slider_img/slider2/banner2.jpg" class="crop_img">
                </div>
                <div class="banner_text">
                    <h2>Pole Huges</h2>
                    <h3>Everything about <br> Protecting <br> Nature</h3>
                </div>
            </div>
            <div class="scroll-x-item animate__animated animate__zoomIn">
                <div class="banner_img center_img">
                    <img src="assets/images/slider_img/slider2/banner1.jpg" class="crop_img">
                </div>
                <div class="banner_text">
                    <h2>Pole Huges</h2>
                    <h3>Everything about <br> Protecting <br> Nature</h3>
                </div>
            </div>
            <div class="scroll-x-item animate__animated animate__zoomIn">
                <div class="banner_img center_img">
                    <img src="assets/images/slider_img/slider2/banner2.jpg" class="crop_img">
                </div>
                <div class="banner_text">
                    <h2>Pole Huges</h2>
                    <h3>Everything about <br> Protecting <br> Nature</h3>
                </div>
            </div>
        </div>
    </div>


    <div class="slider3">
        <div class="scroll_container">
            <div class="item_srcoll">
                <div class="img_box center_img">
                    <img src="assets/images/slider_img/slider3/banner_1.png" class="crop_img icon_img">
                </div>
            </div>
            <div class="item_srcoll">
                <div class="img_box center_img">
                    <img src="assets/images/slider_img/slider3/banner_1.png" class="crop_img icon_img">
                </div>
            </div>
            <div class="item_srcoll">
                <div class="img_box center_img">
                    <img src="assets/images/slider_img/slider3/banner_1.png" class="crop_img icon_img">
                </div>
            </div>
            <div class="item_srcoll">
                <div class="img_box center_img">
                    <img src="assets/images/slider_img/slider3/banner_1.png" class="crop_img icon_img">
                </div>
            </div>
            <div class="item_srcoll">
                <div class="img_box center_img">
                    <img src="assets/images/slider_img/slider3/banner_1.png" class="crop_img icon_img">
                </div>
            </div>
            <div class="item_srcoll">
                <div class="img_box center_img">
                    <img src="assets/images/slider_img/slider3/banner_1.png" class="crop_img icon_img">
                </div>
            </div>
        </div>
    </div>

    <div class="slider4">
        <div class="scroll-x animate__animated animate__fadeInUp">
            <div class="offer center_img animate__animated animate__fadeInUp">
                <img src="assets/images/slider_img/slider4/offer1.png" class="crop_img">
            </div>
            <div class="offer center_img animate__animated animate__fadeInUp">
                <img src="assets/images/slider_img/slider4/offer2.png" class="crop_img">
            </div>
            <div class="offer center_img animate__animated animate__fadeInUp">
                <img src="assets/images/slider_img/slider4/offer3.png" class="crop_img">
            </div>
            <div class="offer center_img animate__animated animate__fadeInUp">
                <img src="assets/images/slider_img/slider4/offer1.png" class="crop_img">
            </div>
            <div class="offer center_img animate__animated animate__fadeInUp">
                <img src="assets/images/slider_img/slider4/offer2.png" class="crop_img">
            </div>
            <div class="offer center_img animate__animated animate__fadeInUp">
                <img src="assets/images/slider_img/slider4/offer3.png" class="crop_img">
            </div>
            <div class="offer center_img animate__animated animate__fadeInUp">
                <img src="assets/images/slider_img/slider4/offer1.png" class="crop_img">
            </div>
            <div class="offer center_img animate__animated animate__fadeInUp">
                <img src="assets/images/slider_img/slider4/offer2.png" class="crop_img">
            </div>
            <div class="offer center_img animate__animated animate__fadeInUp">
                <img src="assets/images/slider_img/slider4/offer3.png" class="crop_img">
            </div>
            <div class="offer center_img animate__animated animate__fadeInUp">
                <img src="assets/images/slider_img/slider4/offer1.png" class="crop_img">
            </div>
            <div class="offer center_img animate__animated animate__fadeInUp">
                <img src="assets/images/slider_img/slider4/offer2.png" class="crop_img">
            </div>
            <div class="offer center_img animate__animated animate__fadeInUp">
                <img src="assets/images/slider_img/slider4/offer3.png" class="crop_img">
            </div>
            <div class="offer center_img animate__animated animate__fadeInUp">
                <img src="assets/images/slider_img/slider4/offer1.png" class="crop_img">
            </div>
            <div class="offer center_img animate__animated animate__fadeInUp">
                <img src="assets/images/slider_img/slider4/offer2.png" class="crop_img">
            </div>
            <div class="offer center_img animate__animated animate__fadeInUp">
                <img src="assets/images/slider_img/slider4/offer3.png" class="crop_img">
            </div>
        </div>
    </div>

    <div class="slider5">
        <div class="scrollX">
            <div class="scroll_items">
                <div class="img_box center_img">
                    <img src="assets/images/slider_img/slider5/banner_2.png" class="crop_img">
                </div>
            </div>
            <div class="scroll_items">
                <div class="img_box center_img">
                    <img src="assets/images/slider_img/slider5/banner_1.png" class="crop_img">
                </div>
            </div>
            <div class="scroll_items">
                <div class="img_box center_img">
                    <img src="assets/images/slider_img/slider5/banner_3.png" class="crop_img">
                </div>
            </div>
            <div class="scroll_items">
                <div class="img_box center_img">
                    <img src="assets/images/slider_img/slider5/banner_2.png" class="crop_img">
                </div>
            </div>
            <div class="scroll_items">
                <div class="img_box center_img">
                    <img src="assets/images/slider_img/slider5/banner_1.png" class="crop_img">
                </div>
            </div>
            <div class="scroll_items">
                <div class="img_box center_img">
                    <img src="assets/images/slider_img/slider5/banner_3.png" class="crop_img">
                </div>
            </div>

            <div class="scroll_items">
                <div class="img_box center_img">
                    <img src="assets/images/slider_img/slider5/banner_2.png" class="crop_img">
                </div>
            </div>
            <div class="scroll_items">
                <div class="img_box center_img">
                    <img src="assets/images/slider_img/slider5/banner_1.png" class="crop_img">
                </div>
            </div>
            <div class="scroll_items">
                <div class="img_box center_img">
                    <img src="assets/images/slider_img/slider5/banner_3.png" class="crop_img">
                </div>
            </div>
            <div class="scroll_items">
                <div class="img_box center_img">
                    <img src="assets/images/slider_img/slider5/banner_2.png" class="crop_img">
                </div>
            </div>
            <div class="scroll_items">
                <div class="img_box center_img">
                    <img src="assets/images/slider_img/slider5/banner_1.png" class="crop_img">
                </div>
            </div>
            <div class="scroll_items">
                <div class="img_box center_img">
                    <img src="assets/images/slider_img/slider5/banner_3.png" class="crop_img">
                </div>
            </div>
        </div>
    </div>
</ion-content>